url:	http://www.zuowen.net/yingyuzuowen/article_220404.html
title:
<h1 class="title">未来的生活英语作文</h1>
time:
context:
<p>未来的生活英语作文</p>
<p>　　In the future , people will have different life.</p>
<p style="text-align: center;"><img src="//www.zuowen.net/pic/allimg/copyright/img/d7f7cec45_2.jpg" alt="未来的生活英语作文" style="white-space: normal; width: 400px; height: 324px;"></p>
<p>　　Childen won’t go to school , because they will study on the computer. That will be really good.</p>
<p>　　Humans will not have so many things to do , because there will be robots to do them. Robots are going to be humans’ best friends.</p>
<p>　　In one hundred years , people will live in the sea or in the space station. We will find out more biological , know more knowledge.</p>
<p>　　I think they will become a reality.</p>
<p>　　I imagine a lot about lives in the future. I think two words can summarize my imagination. The first word is fast. In the future, we will have more quickly transportation means. Now matter how far we go, it takes only a short time. With the development of science and technology, we can travel to the moon, Mars or somewhere outer space. People may can live in other planets. The second word is convenient. Because of the fast development of our society, many work can be done by computers or even robots. Lots of things are fully automated. Humans just need to give some simple instructions to complete complecated tasks.</p>
<p>　　我想象了很多关于未来的生活。我想两句话可以概括我的想象。第一个词是快速。在未来，我们将拥有更快速的运输方式。现在无论我们走多远，只需要一个短暂的时间。随着科学技术的发展，我们可以到月球、火星或者某个地方去旅行。人们可以生活在其他星球。二字很方便。由于我们社会的快速发展，许多工作可以通过计算机或机器人来完成。很多事情都是全自动的。人们只需要提供一些简单的.指令来完成复杂的任务。</p>
<p>　　随着时代的发展,我们的生活将会发生许多变化,下面三幅图片所描绘的情景有可能在未来的生活中变为现实,同学们可结合图片,发挥想象,展望未来的生活,以Life in the future为题,用英文写一篇100词左右的短文(开头语已给出,不计入总词数)。</p>
<p>　　要求:书写规范,语法正确,语句通顺,主题鲜明。</p>
<p>　<strong>　Life in the future</strong></p>
<p>　　As time goes by, there are going to be big changes in our everyday lives in the future. For example,</p>
<p>　　As time goes by, there are going to be big changes in our everyday life. For example, when we are hungry, we don't need to cook in a hurry. Just take some pills, and everything will be OK. When we are free, we can go anywhere by spacecraft. It will be very cheap, just like taking a taxi now. And of course, if we want to see what is like under the sea, just travel down there in a flying object like UFO. Maybe there will be a lot of cities and people living there. I think it'll be very easy to travel anywhere, not only in our world, but also in space and in the deep sea.</p>
<p><strong>　　未来生活</strong></p>
<p>　　随着时间的推移，我们的日常生活将会发生巨大的变化。例如，</p>
<p>　　随着时间的推移，我们的日常生活会有很大的变化。例如，当我们饿了，我们不需要做饭匆忙。只需服用一些药片，一切都会好的。当我们是自由的，我们可以去任何地方的飞船。这将是非常便宜，就像现在的出租车。当然，如果我们想看看大海里有什么样的东西，就在那里的一个飞行物体，如飞碟。也许有很多城市和人民生活在那里。我认为在任何地方旅行都很容易，不仅是在我们的世界，而且在空间和深海中。</p>
<p>　　With the development of science and technology，our lives have changed a lot in the past century。</p>
<p>　　Many things that wouldn’t happen before have come into reality now。Therefore，our lives will change as well in the future。</p>
<p>　　Our pace of live will greatly speed up，because we will help many machines to finish our work。Many things can be done autonomously。Therefore，people will have more time for fun。People can travel the outer space freely。</p>
<p>　　Space shuttle can bring people to planets far from the earth。Besides，our environment will be much better than now，because some effective measures are taken to protect the environment。Earth is still a beautiful home for human。</p>
<p>　　随着科技的发展，上个世纪我们的生活发生了很大改变。很多以前不可能发生的事现在都成为了现实。</p>
<p>　　因此，我们将来的生活也会改变。我们的生活节奏会大大加快，因为我们会让很多机器帮我们完成工作。很多事情都可以自动完成。</p>
<p>　　这样人们就有更多时间来玩了。人们可以自由到外太空旅游。</p>
<p>　　航天飞机可以把人们带到远离地球的行星上。此外，我们的环境会比现在好，因为我们可以采取一些有效措施来保护环境。地球仍旧是人类的美好家园。</p>
<p>　　I want a villa ，with a big pool ， a basketball playground and a garden 。 because i love my family ，and my parents like flowers and green trees ， my boy friend likes playing basketball ， and i like swimmming and beautiful plants 。 So i want a big and pretty house ， which full of loving and colourful life 。</p>
<p>　　I hope this villa has three floors 。 The first floor has a living room ， a washing room and a kitchen 。The second floor has four rooms， one is our bedroom ， one is my parents' room ， one is my husband parents' room and one is my schoolroom 。 The third floor has two roomsfor the guests， a room for playing billiards， and a room for entertainment， such as playing majiang 。</p>
<p>　　We will feed two dogs 。 one name is 'AoAo' and the others is 'XiuXiu' 。Their names together means it never give up till biting the bad man death 。 That menas we'll get over every difficulty ，try our best ， making us together and love each other forever ！</p>
<p>　　Time flies, the dream is generally twenty years passed. In 20xx, I attended the college entrance examination, admitted to the highest institution in China Peking University. I spent four years studying here, with six years to complete the doctoral student's studies. 28 years old I became a world-class scientist.</p>
<p>　　I get up every morning, first with a universal key to open the super cabinet. This is my great invention! This key is made of high-tech nano-made, what you want to get what! Open the super cabinet to wear universal clothing, this kind of clothes can adjust the temperature according to weather changes, in the hot summer so that you feel cool, in the cold winter can feel warm as spring. Eat a pill, it is a high nutritional food, to ensure that the body in the day between the whole nutrition. And then drive on the "Shenzhou N" spacecraft to the Chinese Academy of Sciences to work.</p>
<p>　　On the road, the spacecraft traveling in the wide road over the road on both sides of a novel and unique style of the garden and a green leaves into a tree. Exudes an intoxicating aroma.</p>
<p>　　"What are you doing? Meal." Mom called me, I was back to God, thinking of the future of me. We must dare to dream, dare to pursue, but also down to earth, lay the foundation, step by step on the peak of knowledge, and then toward this goal tireless struggle!</p>
<p>　　My future will be happy.I already graduated at that time from the university.I will have a stable work.I will have my family,my husband,and a lovely child.What will be my future job?</p>
<p>　　I have many ideals.I want to work as a singer,stands on the stage sings for the people; I want to work as a nurse,cure illness,brings the health for the people; I want to work as a pilot,drives the airplane in the blue sky; I want to work as a gardener,with a little bit sweat irrigation flowers,lets our life forever fill the green.After growing up.I want to ba a teacher.I will have many students.Every day I will give many classes to them.I will become a teacher who is always preparing my lessons.I can certainly be a good teacher in the future.</p>
<p>　　I will also be a volunteer of my city.I will help a great deal of people.Do many meaningful things.I will Make contribution to my city and the society.</p>
<p>　　If I can became an teacher,they are my forever hopes.this will be my future,when a grade teacher's dream. I will have a bright future.Now I will study hard and make preperation for my future.</p>
<p>　　What do you want to be in the futureMaybe a teacher, a policeman or a detective…Everyone has their own opinion. I have read the top seven careers. Now I will introduce four of them for you.</p>
<p>　　The first one is the banker. Wealth is becoming one of the most important signs of a successful career. But ,in fact, not all the banks are about the money——like Hong Kong and Shanghai Banking Corporation. Song Ge is this corporation’s banker. Song Ge tell us that a banker must have a good knowledge of banking, like how a bank works, how to run a bank and how to keep a good relationship with customers and workmates. So, if you want to be a banker, you must have a professional knowledge and communication skills. It’s very difficult.</p>
<p>　　The second one is the doctor. There are many teenagers think that doctors are very great. Yes, that’s right. But, what should we do to be a good doctorChen Xuqing who works in the ear-nose-throat department maybe can tell us:‘A good doctor must be responsible, because patients put their health in doctors’ hands , so we should get patients’ trust. And doctors should always study to improve and practical their abilities and skills. ’</p>
<p>　　The third one is the photographer. Wang Kun is a photographer, and he is working for Beijing Youth Weekly. He likes his job because he thinks it is free, and he can meet different people and experience different lives. He also enjoys his job, and he can find lots of pretty things. The most important thing for a photographer is to get good ideas and to enjoy take pictures’ experience.</p>
<p>　　The fourth one is the scientist. When we were young, most of us want to be a scientist. WhyIt’s really a great career. Scientists have a lot of knowledge and keep up-to-date on the latest knowledge, or the rest of the world will leave you behind. They should be good at math and science and is very important to learn English. They must be able to perform under pressure and meet deadlines… In fact, scientists are important to the world, they can make our life better and better.</p>
<p>　　No matter what you want to be in the future, you will get the responsibility and challenges. All career paths need education and training. Now we should work and study hard to realize our dreams. Do it now!</p>
<p>　　WangYaxuan ＆ Lucy Class 4A</p>
<p>　　Life in the future</p>
<p>　　As time goes by, there are going to be big changes in our everyday lives in the future. For example,</p>
<p>　　As time goes by, there are going to be big changes in our everyday life. For example, when we are hungry, we dont need to cook in a hurry. Just take some pills, and everything will be OK. When we are free, we can go anywhere by spacecraft. It will be very cheap, just like taking a taxi now. And of course, if we want to see what is like under the sea, just travel down there in a flying object like UFO. Maybe there will be a lot of cities and people living there. I think itll be very easy to travel anywhere, not only in our world, but also in space and in the deep sea.</p>
<p>　　With the development of science and technology,our lives have changed a lot in the past century.Many things that wouldn’t happen before have come into reality now.Therefore,our lives will change as well in the future.Our pace of live will greatly speed up,because we will help many machines to finish our work.Many things can be done autonomously.Therefore,people will have more time for fun.People can travel the outer space freely.Space shuttle can bring people to planets far from the earth.Besides,our environment will be much better than now,because some effective measures are taken to protect the environment.Earth is still a beautiful home for human.</p>
<p>　　I imagine a lot about lives in the future。I think two words can summarize my imagination。The first word is fast。In the future，we will have more quickly transportation means。</p>
<p>　　Now matter how far we go，it takes only a short time。With the development of science and technology，we can travel to the moon，Mars or somewhere outer space。People may can live in other planets。The second word is convenient。</p>
<p>　　Because of the fast development of our society，many work can be done by computers or even robots。</p>
<p>　　Lots of things are fully automated。Humans just need to give some simple instructions to complete complecated tasks。</p>
<p>　　我对未来生活充满了想象。我认为可以用两个词来概括我的想象。第一个词是快速。将来，我们会拥有更快的交通方式。不管我们去得多远，它总能在短时间内把我们带到目的地。</p>
<p>　　随着科学技术的发展，我们可以到月球，火星或者其他外太空旅游。人们也许可以在其他星球居住。第二个词是便利。</p>
<p>　　由于社会的快速发展，很多工作可以用电脑或者机器人来完成。很多东西都是全自动的。人们只需要提供一些简单的指令来完成复杂的任务。</p>
<p>【未来的生活英语作文】相关文章：</p>
<p>1.<a target="_blank" href="http://www.zuowen.net/sibaiwushizizuowen/article_153282.html">未来的生活作文450个字</a></p>
<p>2.<a target="_blank" href="http://www.zuowen.net/sanbaiwushizizuowen/article_134976.html">未来的生活精选作文350字</a></p>
<p>3.<a target="_blank" href="http://www.zuowen.net/sibaiwushizizuowen/article_120948.html">最新未来的生活作文450字</a></p>
<p>4.<a target="_blank" href="http://www.zuowen.net/sanbaizizuowen/article_209132.html">未来的生活作文300字</a></p>
<p>5.<a target="_blank" href="http://www.zuowen.net/xushizuowen/article_153261.html">未来的生活作文推荐</a></p>
<p>6.<a target="_blank" href="http://www.zuowen.net/sanbaiwushizizuowen/article_30510.html">未来的生活350字作文</a></p>
<p>7.<a target="_blank" href="http://www.zuowen.net/xushizuowen/article_94445.html">未来的生活作文五篇</a></p>
<p>8.<a target="_blank" href="http://www.zuowen.net/gaozhongzuowen/article_203261.html">高中英语作文我的未来</a></p>
pic:
<img src="//www.zuowen.net/pic/allimg/copyright/img/d7f7cec45_2.jpg" alt="未来的生活英语作文" style="white-space: normal; width: 400px; height: 324px;">
