url:	http://www.zuowen.net/yingyuzuowen/article_220917.html
title:
<h1 class="title">以 About graduation为题的英语作文</h1>
time:
context:
<p>以 About graduation为题的英语作文</p>
<p>　　在日常的学习、工作、生活中，大家都尝试过写作文吧，作文是从内部言语向外部言语的过渡，即从经过压缩的简要的、自己能明白的语言，向开展的、具有规范语法结构的、能为他人所理解的外部语言形式的转化。那么问题来了，到底应如何写一篇优秀的作文呢？下面是小编为大家收集的以 About graduation为题的英语作文，欢迎大家分享。</p>
<p style="text-align: center;"><img src="//www.zuowen.net/pic/allimg/copyright/img/d7f7cec403.jpg" alt="以 About graduation为题的英语作文" style="white-space: normal; width: 400px; height: 324px;"></p>
<p>　　Graduation is a problem that every student will face. Now, my classmates and I are about to graduate.</p>
<p>　　毕业是每个学生都会面临的问题。现在，我和我的同学就要毕业了。</p>
<p>　　Once upon a time, when we talked about graduation, we always thought it was far away, but now when graduation comes to us, we all feel reluctant to give up. We are about to graduate, which means that we are about to leave this environment where we live and study, as well as our friends and partners who get along with each other day and night. Now, whenever I think of the fact that I'm about to graduate, I'm full of feelings.</p>
<p>　　曾几何时，当我们谈论毕业的时候，我们总是认为那是遥远的`，但是现在当毕业来到我们身边时，我们都不愿意放弃。我们即将毕业，这意味着我们即将离开这个我们生活和学习的环境，以及我们日夜相处的朋友和伙伴。现在，每当我想到即将毕业的事实，我就充满了感情。</p>
<p>　　But as I was getting closer to graduation, I gradually became more and more relieved. Yes, everyone will be graduating, you know, there will be growth after graduation. Through a period of thinking, I am still reluctant to graduate, but there is more to look forward to. I am looking forward to my graduation and growing up.</p>
<p>　　但当我离毕业越来越近的时候，我渐渐变得越来越放心了。是的，每个人都会毕业，你知道，毕业后会有成长。经过一段时间的思考，我仍然不愿意毕业，但还有更多的期待。我期待着我的毕业和成长。</p>
<p>　　Every stage of our life will usher in a graduation, graduation is our final summary of this learning. Through this graduation, we will know how much we have learned and how much we have mastered. Every one of us will have a standard for graduation. Only when we meet this standard can we graduate.</p>
<p>　　我们人生的每一个阶段都会迎来一次毕业，毕业是我们对这一学习的最后总结。通过这次毕业，我们将知道我们学到了多少，掌握了多少。我们每个人都有一个毕业标准。只有达到这个标准我们才能毕业。</p>
<p>　　I remember some scholars said that life is long, we will never graduate, we should learn to live forever. This sentence is also applicable to us now, but what we are talking about now is just a summary of our current study. Of course, we have a long life in the future. The real graduation is always in front of us. We should study hard and understand life. Only in this way can we truly usher in a breakthrough and find a better ourselves.</p>
<p>　　我记得有学者说过，生命是漫长的，我们永远不会毕业，我们应该学会永远活着。这句话现在也适用于我们，但我们现在所说的只是我们目前研究的一个总结。当然，我们将来的寿命很长。真正的毕业典礼总是摆在我们面前。我们应该努力学习，了解生活。只有这样，我们才能真正迎来突破，找到更好的自己。</p>
<p>　　Now, I can face the fact that I am about to graduate, because I have been studying hard in the campus. Now graduation is coming, I also believe that I can get a good academic record.</p>
<p>　　现在，我可以面对即将毕业的事实了，因为我一直在校园里努力学习。现在毕业了，我也相信我能取得好的学习成绩。</p>
<p>【以 About graduation为题的英语作文】相关文章：</p>
<p>1.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_215235.html">Introduction About Myself英语作文</a></p>
<p>2.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_220854.html">以 View of the park为题的英语作文</a></p>
<p>3.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_214919.html">以My Day为题的英语作文</a></p>
<p>4.<a target="_blank" href="http://www.zuowen.net/gaosanzuowen/article_219420.html">高三年级英语作文：关于生活 About Life</a></p>
<p>5.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_218745.html">以Becoming a Good Student为题的英语作文</a></p>
<p>6.<a target="_blank" href="http://www.zuowen.net/gaozhongzuowen/article_207070.html">以高中爱情为题的英语作文</a></p>
<p>7.<a target="_blank" href="http://www.zuowen.net/xiaoxueshengzuowen/article_214835.html">My Bedroom为题的小学英语作文</a></p>
<p>8.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_206801.html">以我爱中秋节为题的英语作文</a></p>
pic:
<img src="//www.zuowen.net/pic/allimg/copyright/img/d7f7cec403.jpg" alt="以 About graduation为题的英语作文" style="white-space: normal; width: 400px; height: 324px;">
