url:	http://www.zuowen.net/yingyuzuowen/article_220982.html
title:
<h1 class="title">我的童年英语作文</h1>
time:
context:
<p>我的童年英语作文</p>
<p>　　I have to do the housework at the age of eight.. I think hard-working will improve my alone situation.</p>
<p style="text-align: center;"><img src="//www.zuowen.net/pic/allimg/copyright/img/cdafc4ea2_2.jpg" alt="我的童年英语作文" style="white-space: normal; width: 400px; height: 324px;"></p>
<p>　　It is an old saying that “spare the rod and spoil the child’.We can improve our skill in the child..</p>
<p>　　I have to go to school and to cook meal in the childhood. Nowadays,Ican do anything on my own.It is also go at my grow.</p>
<p>　　I live with my parents and my grandmother. My grandmother is a kind elderly people. She likes talking and she always tells me stories of hers, my father’s and mine.</p>
<p>　　She is full filled with memories. She told me that I was quiet and docile when I was little.</p>
<p>　　My parents went to work all day, and my grandmother took care of me and my cousin. After she fed me, I sat and played myself. She didn’t have to worry much about me.</p>
<p>　　I almost made no troubles. But my cousin was not.</p>
<p>　　He never sat well or ate his food tactfully. My grandmother had to always keep an eye on him to prevent making troubles.</p>
<p>　　I really had a happy childhood.</p>
<p>　　I grew up in a countryside which was really beautiful.Beautiful mountain,trees,flowers and all kinds of plants.</p>
<p>　　I often went hiking with my parents and caught insects.My parents taught me how to swim.</p>
<p>　　And we often swam in the swimming pool and I could swim very well.My friends and I often played football and hide and seek together.</p>
<p>　　I didn't need to worry about my study.</p>
<p>　　I always dream about returning to the past. As many people say, childhood is the happiest and easiest time in one’s life. Children show you their true emotions.</p>
<p>　　They know what is compassion and what is tolerance better than adults.</p>
<p>　　In their world, all real thoughts are presented.</p>
<p>　　They may easily have different opinions with others, but they never understand what is animosity.</p>
<p>　　They enjoy making friends but they never think about making social communication net. Every child talks from the bottom of his heart without evil plans hidden and never intrigues against each other.</p>
<p>　　Only in children’s way can adults make our life simple, more real and more enjoyable.</p>
<p>　　I wish everyone’s heart would keep as innocent and lovely as they ever did in their childhood. Then, the walls between our hearts can be broken down and the world would be a better place to live in.</p>
<p>　　I was born in a small county which is poor. Therefore, there were no beautiful clothes or many toys. Before I went to school at six, I only played with my peers nearby. It was such a wonderful period that I would never forget. We always made our toys independently, which cost no money at all. Sometimes, parents would help making toys as well. We could play from morning to night until parents told us to go home for dinner. However, as a rural child, I must help my parents doing farm work in the busy season, such as planting and harvesting. Besides, my mother is a teacher. Therefore, she began to teach me to read and count when I was three, so I had to spend some time I study. Now, remembering it, I feel much happy rather than upset.</p>
<p>　　我出生在一个贫困的小农村里，因此不能拥有漂亮的衣服和玩具。在我六岁上学之前，我都是和邻居的同龄小朋友玩，那是一段我无法忘怀的快乐的.岁月。我们通常都是自己做玩具，不花一分钱，有的时候我们的父母也会给我们做一些玩具。那个时候，我们可以从早晨玩到天黑，直到爸爸妈妈叫我们回家吃饭。但是，作为一个农村的孩子，在农忙的时候我也必须要帮忙家里干些农活，像是种植和收割这些。另外，我的妈妈是一名老师，因此在我三岁的时候她就开始教我识字、算术了，所以我还要花些时间在学习上。现在，回想起这些，我更多的是快乐，而不是烦恼。</p>
<p>　　MyHome surrounded by the mountains around, Oujiang are our mother river, river on both sides of the scenery is very charming. Living my childhood in rural areas. I was a kid is a child king, and the partners usually go to the creek fishing, swimming. Sometimes we would go to do a game or swing open space. I think my childhood was happy childhood was happy with my mother’s love .In my young heart, my mother was strong and healthy and never got sick. She took me to the primary school and home every day. No matter when it’s rainy or windy.</p>
<p>　　But one day, after we got home from school, my mother went into the bedroom and stayed in bed. I didn’t know what had happened.</p>
<p>　　I sat beside her , my mother said to me , “it doesn’t matter , mum only has a headache . I will be all right after a while.” Although mother said so, I found tears in her eyes because of pain, at that time I knew adults also got ill and cried. I decided I would take care of my mother from then on.</p>
<p>　　I grew up in a small village. I am the second child of the family, and my sister is the eldest. Our house is on the main street of the village so I always saw a lot of people on the streets There were farmers, fishermen, and a few merchants in the village. My sister and I used to play with the next-door children; their father is an elementary school teacher. Sometimes when we played together in the house we made so much noise that my mother wanted us to play outside, so we went to the seashore to look for crabs and clams, and pretty seashells, too. Also, we enjoyed running on the beach chasing each other. On breezy days we used to enjoy flying kites on the beach. When I look back on my early life in the village, I feel I had a happy childhood.</p>
<p>　　Home surrounded by the mountains around, Oujiang are our mother river, river on both sides of the scenery is very charming. Living my childhood in rural areas. I was a kid is a child king, and the partners usually go to the creek fishing, swimming. Sometimes we would go to do a game or swing open space. I think my childhood was happy</p>
<p>　　I grew up in a small village. I am the second child of the family, and my sister is the eldest. Our house is on the main street of the village so I always saw a lot of people on the streets There were farmers, fishermen, and a few merchants in the village. My sister and I used to play with the next-door children; their father is an elementary school teacher. Sometimes when we played together in the house we made so much noise that my mother wanted us to play outside, so we went to the seashore to look for crabs and clams, and pretty seashells, too. Also, we enjoyed running on the beach chasing each other. On breezy days we used to enjoy flying kites on the beach. When I look back on my early life in the village, I feel I had a happy childhood.</p>
<p>　　我想告诉你一些关于我的童年。当我六岁的时候，我是一个可爱的女孩！</p>
<p>　　一天，爸爸在河里看见了一些鱼，他问我：“为什么鱼只能活在水里？“我想了一下，我就给了他答案，”银行里有一些猫，“我爸爸听到那个时候就笑了。”。然后他说：“你是聪明的！“我很高兴听到这个。</p>
<p>　　也许你会说，“这是一个有趣的答案。”现在，我想，它是非常有趣的。现在我很聪明。我的父母非常爱我。我很高兴能有这样的童年。</p>
<p>　　But one day, after we got home from the kindergarten, my mother went into the bedroom and stayed in bed. I didn't know what had happened. I sat beside her and wanted to cry. My mother said to me, "It doesn't matter, mum has only a stomachache. I will be all right after a while." Although mother said so, I found tears in her eyes because of pain. At that time I knew adults also got ill and cried. I decided I would take care of my mother from then on.</p>
<p>　　Like many children, I had a happy childhood under the care and love of my parents. My mother took me to the kindergarten and home every day. thought mother was so kind and healthy that she would never get sick.</p>
<p>　　But one day, my father went to the kindergarten to get me back. I asked, "Why doesn't my mother come?""She is sick, and she is in hospital. "said Father. I felt sad and frightened. Then I began to cry. "Don't cry or mother would worry. You should be a good child." I seemed to understand my mother was too tired. I made up my mind I would look after my mother from then on.</p>
<p>　　My childhood was innocent, beautiful, and joyful. It added a lot of fun to my life. Now, what a fool and funny thing I've been doing!</p>
<p>　　I remember once, my brother and I drove to the countryside to see Grandpa, just on that day, Grandpa will go to the vegetable shed to raise seedlings, my brother and I are also clamoring to go, Grandpa was entangled with no way, had to agree to take us. Enter the shed, feel the temperature higher than outside, see grandpa in the nursery in sowing, my brother and I are clamoring to do, because we are very small, carry big shovel, Grandpa would have provided us with two small shovel, let yourself go for. I thought with a shovel, "what do you want?"" Remember, my grandfather once told me "you reap", I feel in my pocket, with a towel, immediately got the idea, put a towel on it! So mom doesn't have to pay for paper towels. My grandpa's hands immediately, according to the way, first with the shovel on the ground to draw a rectangle, and then along the line with a shovel dug into the soil, a spade a spade, after a long time, I finally got the pit dug, tired sweating, very relaxed, see Grandpa skillfully digging planting also, I feel really useless, very angry, hit his left hand in his right hand, while playing the side scold blame you this useless, so stupid, let me tired sweating!" Look at the pit, neat, and I am very happy, I hold paper towels in both hands, carefully put the paper towels in the pit, for fear of putting askew, and long paper towels will be crooked. When I put it away, I pushed the earth into the pit with my hands. I buried the paper towels and put it on my feet. Then I poured a pot of water on it and waited for the paper towel to germinate......</p>
<p>　　This is my childhood, childhood, but a happy childhood!</p>
<p>　　When I was a child, my father told me that the first batch of people who hung red scarves were good children and my childhood memories. At that time, I do not know the small, red scarf in batches already by age. When I saw the first batch of students in the name of hang red scarf without me, crying sadly. I don't think I'm a good kid. At that time, I saw those hanging a bright red scarf of a small part of the students, I really envy. Half a year later, I became the second batch of students hang red scarf. In the military academy, I hung up the red scarf I had been looking forward to. In this way, my dear red scarf, spent 6 years with me. I am very careless little, always lose or forget to bring red scarf, so, one piece of another, I kept buying red scarf, and kept losing. Until 9 years old, I broke my bad habits, that piece of cloth is very good red scarf, when I was like a baby, hung for 2 years, and finally in a play, lost. The red scarf - - you are inspired by the birth of the people's Republic of China, generation after generation. Now you're going to say goodbye to me. You've been with me for 6 years, and now I feel you're in trouble. But that doesn't keep me from thinking about you. 6 years, what happened to the middle, you have spent with me, now, I want to leave you, into the group, but also did not retreat team, this dual identity, let me have a wonderful feeling, as if I were the first team to no crying child children don't grow up -- yes, you, for me, is a symbol of purity. Let this article become my last memory for you. After pressing "submit", I should also learn how mature. Red scarf, bye.</p>
<p>　　Oh, I got you!" Outside the door there are still children chasing, only the man has changed. While their faces look actually touched the light of heart from care, my heart has already been lost memory, let me through the long time, let me recall that period of time.</p>
<p>　　Only with a pacifier creak time is always unknown. Why? Can only let us recall a few years later that a little time.</p>
<p>　　"Ah!"! I got you! "</p>
<p>　　Always a single gulp after dinner, rushed to the glades, began wild action.</p>
<p>　　Over the railing, climbing walls, martial arts drama fantasy let us realize; twist ants pick crickets, all in front of the mysteries of nature; fly kites, fold planes, beautiful dreams unlimited leap!</p>
<p>　　The game belongs to childhood, and it is often crazy. The excellent composition of primary school students, my childhood memory composition. A quiet pond in summer, a circle of ripples rippling floating afternoon quiet; the rickety dragonfly is drunk, and quiet afternoon years added a dash tipsy.</p>
<p>　　Suddenly, out of the window, there was no noise, so as to look out, the children in the yard were huddled in a shady little corner. Everyone's eyes were focused on a small comic book. The ups and downs of the plot, so that each person's face is ever-changing. What is more, constantly pointing his fist, seems to want to personally go into battle.</p>
<p>　　"Squeak, squeak, squeak. "</p>
<p>　　Summer cicada always rest, tired, buddies are on the tree sat a hundred years old longan tree trunk.</p>
<p>　　People began to fiddle with their pockets.</p>
<p>　　"I'll change this for you."!"</p>
<p>　　"I'm pretty."! Change with me, please!"</p>
<p>　　In our spare time, we like to show off and exchange cartoon paper and glittering candy paper from every corner. I do not know, they are only cheap, but at that time, just because of the longing for happiness.</p>
<p>　　Now, I still retain the paper of that year, although the pieces of paper are multifarious now, they do not have the flavor of that year.</p>
<p>　　The thick sun down from the blade gap pouring longan trees swaying, flow to those pieces of paper. And the reflection is the ballad that sang then.</p>
<p>　　Searching hard on the ground, looking for the discarded chalk heads, drawing a grid on the thick cement floor, and then playing "jump the plane"".</p>
<p>　　"One, two, three, four...... Alas!"</p>
<p>　　"You lost."!" "Ha ha ha."......"</p>
<p>　　Once in a while, the birds of a tree stand by us, and the ignorant, naive heart always says, "Eagle!"!"</p>
<p>　　Then look at the little tree on the old tree and watch the birds fly away.</p>
<p>　　At that time we said, "I want to be a boss, a scientist, a writer, a doctor."......"</p>
<p>　　Now, I said, "I want to be a child, forever and ever."."</p>
<p>　　The hourglass of time flowing relentlessly, the time has not come. The old tree still sits there, but it's a pity to leave it alone.</p>
<p>　　"Ah!"! I got you!"</p>
<p>　　Not me. After all, my childhood bubble burst, but fortunately, there was that dream.</p>
<p>【我的童年英语作文】相关文章：</p>
<p>1.<a target="_blank" href="http://www.zuowen.net/chusanzuowen/article_218880.html">初三关于我的童年英语作文</a></p>
<p>2.<a target="_blank" href="http://www.zuowen.net/qibaizizuowen/article_162678.html">我的童年精选作文700字</a></p>
<p>3.<a target="_blank" href="http://www.zuowen.net/sibaizizuowen/article_163076.html">我的童年精选作文400字</a></p>
<p>4.<a target="_blank" href="http://www.zuowen.net/yiqianzizuowen/article_5120.html">我的童年1000字作文</a></p>
<p>5.<a target="_blank" href="http://www.zuowen.net/yibaizizuowen/article_5285.html">我的童年100字的作文</a></p>
<p>6.<a target="_blank" href="http://www.zuowen.net/xushizuowen/article_123199.html">我的童年生活作文示例</a></p>
<p>7.<a target="_blank" href="http://www.zuowen.net/sibaizizuowen/article_26172.html">我的童年作文400字</a></p>
<p>8.<a target="_blank" href="http://www.zuowen.net/sibaiwushizizuowen/article_23174.html">作文我的童年450字</a></p>
pic:
<img src="//www.zuowen.net/pic/allimg/copyright/img/cdafc4ea2_2.jpg" alt="我的童年英语作文" style="white-space: normal; width: 400px; height: 324px;">
