url:	http://www.zuowen.net/yingyuzuowen/article_220708.html
title:
<h1 class="title">母爱英语作文</h1>
time:
context:
<p>母爱英语作文</p>
<p>　　Mamma you gave life to me，Turned a babysintosa man，And mamma all you had to of fer Was a prom is e of a lifetime of love,Now I know there is no other love like a Mothers.Love for her child,I know that love so complete someday must leave.Must say goodbye,Goodbyes the saddest word,I＇ll ever hear.Goodbyes the last time I will hold you near,Someday you＇ll say that word and I will cry,It＇ll break my heart to hear you say Goodbye.</p>
<p style="text-align: center;"><img src="//www.zuowen.net/pic/allimg/copyright/lanmu/lm1141.jpg" alt="母爱英语作文" style="white-space: normal; width: 400px; height: 324px;"></p>
<p>　　Mamma you gave love to me,And Mamma all I ever needed Was guarantee of you loving me,Cause I know there is no other love like a mother,the love you give will always live,You＇ll always be there every time I fall,You take my weakness and you make me strong,And I will always love you till forever comes.And when you need me,I＇ll be there for you always,I＇ll be there thru the lonely days.You are the wings that guide my broken flight,and my shelter thru the raging storm,And I will love you till forever comes.</p>
<p>　　<strong>I love you Mum! 我爱你,妈妈</strong></p>
<p>　　My mother is forty-five years old. She works in a factory from 7:20 a.m. to 4:00 p.m</p>
<p>　　She works very hard, When she gets home. She does some housework.</p>
<p>　　She often helps me with any tiredness on her face.</p>
<p>　　When he I have difficulties,I usually ask my mother for help,</p>
<p>　　She is not noly any mother, but also my friend. and my teacher.</p>
<p>　　If I am not happy, She will make me laugh, I think my mother is the best woman in the world.</p>
<p>　　I love you. Mum!</p>
<p>　　我的母亲四十五岁。她在一家工厂工作，从早上7点20到下午4点</p>
<p>　　她工作很努力，当她回家时。她做一些家务。</p>
<p>　　她经常帮助我任何疲倦的脸上。</p>
<p>　　当他在我有困难时，我通常会问我的母亲帮助，</p>
<p>　　她不仅是妈妈，也是我的朋友。和我的老师。</p>
<p>　　如果我不开心，她会让我笑，我想我的妈妈是世界上最好的女人。</p>
<p>　　我爱你。妈妈！</p>
<p>　　Mom，I love you! Mothers are great. They’re always there for you. When you’re hungry, they’re there for you with food. When you’re sad, they’re there for you with words of encouragement.</p>
<p>　　And when you’re lying comfortably in your bed, mother is there...telling you to get up,telling you not to be so lazy, to tidy your room, to do your homework. And later, she’s there telling you that the style of clothes you wear is awful, and your friends are no good, and “Why can’t you be more like your cousin, the brilliant student?”</p>
<p>　　Yes, mothers are great, sometimes too great. No one in your life is going to know more about you and care more about you than your mother. In many ways, mothers are the centres of their children’s universe. We depend on them for so many things and they give us so much. That can lead to feelings of being “smothered” by mother; of being too dependent on her; of being loved too much. And sometimes we just take “good old” mom for granted. We think she has nothing better to do than take care of our every little need. That she must stop whatever she’s doing and bring us food or sew on a button.</p>
<p>　　我早上起床晚了，所以没来得及喂猫就上学去了。当我下午放学回家时，猫都快要饿死了。它们围着我“喵喵”地叫着要饭吃。我拿出一条鱼扔过去。我想看看谁先抢到鱼。只见猫妈妈一口叼住鱼，迅速跑开了。它没有吃，而是放下鱼，回头召唤它的孩子们。四个小家伙狼吞虎咽地吃着鱼，而它们的妈妈就在一旁温柔地看着，一口也没吃。我想起了我的妈妈。她也是这样无私地对我的。这就是母爱了，我想。</p>
<p>　　I got up late this morning and went to school without feeding my cats.When I came home in the afternoon, the cats almost starved to death. They circled around me and crying for food. I took one fish out and threw it to the cats. I wanted to see who was the first one to catch the fish. Mother cat held it in her mouth and nm away quickly. She didn't eat it, but put it down, then called her children there. The four starving little cats began to devour the fish, but their mother just stayed there looking at them tenderly,without eating a little bit. On seeing that, I thought of my mother. She often does everything for me selflessly. This is a mother's love, I think.</p>
<p>　　Night after night, she came to tuck me in, even long after my childhood years. Following her longstanding custom, she'd lean down and push my long hair out of the way, then kiss my forehead.</p>
<p>　　I don't remember when it first started annoying me — her hands pushing my hair that way. But it did annoy me, for they felt work-worn and rough against my young skin. Finally, one night, I shouted out at her, "Don't do that anymore —your hands are too rough!" She didn't say anything in reply. But never again did my mother close out my day with that familiar expression of her love.</p>
<p>　　Time after time, with the passing years, my thoughts returned to that night. By then I missed my mother's hands, missed her goodnight kiss on my forehead. Sometimes the incident seemed very close, sometimes far away. But always it lurked, in the back of my mind.</p>
<p>　　Well, the years have passed, and I'm not a little girl anymore. Mom is in her mid-seventies, and those hands I once thought to be so rough are still doing things for me and my family. She's been our doctor, reaching into a medicine cabinet for the remedy to calm a young girl's stomach or soothe the boy's scraped knee. She cooks the best fried chicken in the world... gets stains out of blue jeans like I never could...</p>
<p>　　Now, my own children are grown and gone. Mom no longer has Dad, and on special occasions, I find myself drawn next door to spend the night with her. So it was late on Thanksgiving Eve, as I slept in the bedroom of my youth, a familiar hand hesitantly run across my face to brush the hair from my forehead. Then a kiss, ever so gently, touched my brow.</p>
<p>　　In my memory, for the thousandth time, I recalled the night my young voice complained, "Don't do that anymore — your hands are too rough!" Catching Mom's hand in hand, I blurted out how sorry I was for that night. I thought she'd remember, as I did. But Mom didn't know what I was talking about. She had forgotten — and forgiven — long ago.</p>
<p>　　That night, I fell asleep with a new appreciation for my gentle mother and her caring hands. And the guilt that I had carried around for so long was nowhere to be found.</p>
<p>　　伟大的母爱</p>
<p>　　母亲总是在我入睡之后，为我掖好被子，然后俯下身子，轻轻拨开覆在我脸上的长发，亲吻我的前额。日复一日，母亲一直保持着这个习惯，即使我已不再是小孩子了，这一切却依然故我。</p>
<p>　　不知从什么时候开始，母亲的这种习惯渐渐让我感到不悦----我不喜欢她那双布满老茧的手就这样划过我细嫩的皮肤。终于，在一个夜晚，我忍不住冲她吼了起来：“你不要再这样了，你的手好粗糙!”母亲无言以对。但从此却再没有用这种我熟悉的表达爱的方式来为我的一天画上句号。</p>
<p>　　日子一天天过去，随着时间的流逝，我却总是不由得想起那一夜。我开始想念母亲的那双手，想念她印在我前额上的“晚安”。这种渴望忽远忽近，但始终潜藏在我心灵深处的某个角落。</p>
<p>　　若干年后，我成熟了，已不再是个小女孩了。母亲也已到了古稀之年，可她却始终没有停止过操劳，用她那双曾经被我视为“粗糙”的手为我和我的家庭做着力所能及的事情。她是我们的家庭医生，小姑娘胃痛时，她会从药箱里找出胃药来，小男孩擦伤的膝盖时，她会去安抚他的伤痛。她能做出世界上最好吃的炸鸡，能把蓝色牛仔裤上的污渍去得毫无痕迹......</p>
<p>　　现在，我自己的'孩子也已长大，有了自己的生活，母亲却没有了父亲的陪伴。有一次，恰好是感恩节前夜，我决定就睡在母亲旁边的卧室里，陪她度过这一夜。这是我儿时的卧室，一切都是那么的熟悉，还有一只熟悉的手犹豫着从我的脸上掠过，梳理着我前额的头发，然后，一个吻，带着一如往日的温柔，轻轻落在了我的额头。</p>
<p>　　在我的记忆里，曾几千次再现那晚的情景和我那稚嫩的抱怨声：“你不要再这样了，你的手好粗糙!”我一把抓住母亲的手，一股脑说出我对那一晚深深的愧疚。我想，她一定和我一样，对那晚的事历历在目。然而，母亲却不知我再说些什么-----她早忘了，早已原谅我了。</p>
<p>　　那天晚上，我带着对母亲新的感激安然入睡，我感激她的温柔，和她那呵护的双手。多年来压在我心头的负罪感也随之烟消云散。</p>
<p>　　It's raining. School is over. I didn't bring my umbrella. I thought, "no one will come to pick me up." because my mother is ill, my father is away on business. Grandma and grandpa are too old to walk. I looked at the rain more and more big, less and less people, I am also more and more anxious, what should I do? I was about to go home in the rain.</p>
<p>　　Suddenly see a familiar figure, riding a bike slowly appeared from the rain, primary school grade three. This familiar figure is getting closer and closer, and I thought to myself, "this figure must be mother.". It's getting closer. It's really mom. I watched the rain trickling down my mother's face. Suddenly, a warm stream came up. I went straight to my mother and shouted, "Mom, mom, how did you get here?"" Mom smiled and said, "I know you didn't bring your umbrella and you knew it was raining."." Oh That's how it happened.</p>
<p>　　Step by step, the mother brought me home, but walk to a large slope in front of my house, to ride uphill to the home, the mother struggling to ride a bike, I said: "my mother riding a real don't ride up and down." Mother said, "I'll get wet when I come down."." Mother rode slowly and heavily on the slope.</p>
<p>　　When I got home, I wasn't wet at all. But my mother got wet already. I saw my mother's tired figure, and I couldn't help crying.</p>
<p>　　I know, mother's love is priceless.</p>
<p>　　<strong>My Mother’s Garden【妈妈的花园】</strong></p>
<p>　　My mother is very good at raising plants and flowers.</p>
<p>　　We have plants and flowers indoors and outdoors all the year round. Some of our plants were very small in the beginning,</p>
<p>　　but now they are large and very beautiful.</p>
<p>　　On top of our roof there is a big glass-enclosed greenhouse.</p>
<p>　　All our friends love to come to our house to see the beautiful world my mother has made for us. Every morning and evening we see my mother taking care of her plants like little children.</p>
<p>　　As her real children grow older and more independent,</p>
<p>　　my mother devotes more time to her garden.</p>
<p>　　This is a very good way to spend one’s free time.</p>
<p>　　<strong>My Mother【我的母亲】</strong></p>
<p>　　My mother is sixty-three years old, and for the last forty year she has been the village doctor. She has a small clinic that she prepares medicine and treats small injuries,</p>
<p>　　and also sells canned powder milk.</p>
<p>　　Our house has people in and out at all hours of the day and night. The villagers always like to come to her clinic to see the doctor and to meet their neighbors, too.</p>
<p>　　Almost all the villagers come to my mother when their baby is due. My mother is very good at predicting the day the baby will come.</p>
<p>　　Sometimes my mother will not get enough sleep if the babies come late at night or early in the morning.</p>
<p>　　There are special rooms for the mother and baby, and usually they stay at the doctor's house about twenty-four hours.</p>
<p>　　We always like to see the new babies get their first bath because they look so red and small.</p>
<p>　　All the village people know and trust my mother because she is such a quiet, kind,</p>
<p>　　and experienced friend of theirs.</p>
<p>　　<strong>Mother’s love 妈妈的爱</strong></p>
<p>　　I think my mother is great.</p>
<p>　　She is warm-hearted and is always smiling. People like to talk with her because her smiles make them happy. Whenever I see her smiling face, I feel relaxed, too.</p>
<p>　　She loves me very much. She is only a worker and doesn’t make much money, but she spends most of it on me. She takes very good care of me. Every day she cooks delicious and healthy food for me. And we also have a lot of good times together. She likes to tell me funny stories to make me laugh. On holidays, she enjoys taking me out for trips. Sometimes we even go outside in the evening after the rain has stopped, and we look for frogs. It’s lots of fun. I love my mother.</p>
<p>　　我认为我的母亲是伟大的。</p>
<p>　　她是个热心的人，总是面带微笑。人们喜欢跟她说话是因为她的微笑使他们快乐。每当我看到她微笑的脸，我也感到轻松。</p>
<p>　　她很爱我。她仅仅是一个工人，赚钱不多，但她花了大部分在我身上。她把我照顾得很好。她每天都为我做可口健康的食物。我们也有很多好的时候。她喜欢给我讲有趣的故事使我发笑。在假期里，她喜欢带我去旅行。有时我们甚至在黄昏后雨停了，我们找青蛙。有很多乐趣。我爱我的母亲。</p>
<p>　　In addition to themselves,our favorite is mother,make our healthy growth in the sun's mother,she quietly to pay,but nothing back.Because she is my mom,"who grass-inch heart,reported in the apartments".Describe our dear mother is the most appropriate nevertheless,she gave us infinite love,she is just offer silently,we laughed,she felt for her best return is.</p>
<p>　　A mother's love is great,mom,thank you,has been so good to me,you are always's very hard on me,but I know,you that is for my good sake,mom,you are working hard,mom,I love you.</p>
<p>　　All the people often say:"mother's love is the greatest in the world! "Yes, mother's love is very great.We mother give us very too much love. But a big number of us, don't know our mother give us too much love. Mothers are very tired. We don't realize that we should make them to rest. Mothers are thirsty. We don't realize that we should give them a cup of tea. When we beacome father or mother. We will know our parents have gave us much love .So,at this moment. We must reture a good grades to our parents.</p>
<p>　　人们常常说：“母爱是世界上最伟大的！”是的，母亲的爱是非常伟大。我们的妈妈给我们带来很大太多的爱。但是，我们中的大多数人，都不知道我们的母亲给了我们太多的爱。母亲是非常累的。我们没有意识到，我们应该让她们休息。母亲们是渴的。我们没有意识到，我们应该给她们一杯茶。当我们成为父亲或母亲。我们才会知道我们的父母已经给了我们太多的爱。所以，在这一刻。我们用好的成绩来报答我们的父母。</p>
<p>【母爱英语作文】相关文章：</p>
<p>1.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_199882.html">关于母爱的英语作文</a></p>
<p>2.<a target="_blank" href="http://www.zuowen.net/qinqingzuowen/article_609.html">母爱的作文</a></p>
<p>3.<a target="_blank" href="http://www.zuowen.net/qinqingzuowen/article_52.html">母爱作文</a></p>
<p>4.<a target="_blank" href="http://www.zuowen.net/qinqingzuowen/article_30829.html">对母爱的作文</a></p>
<p>5.<a target="_blank" href="http://www.zuowen.net/yuwenzuowen/article_65836.html">母爱作文</a></p>
<p>6.<a target="_blank" href="http://www.zuowen.net/xierenzuowen/article_152376.html">最新母爱作文</a></p>
<p>7.<a target="_blank" href="http://www.zuowen.net/chuzhongzuowen/article_200938.html">母爱初中作文</a></p>
<p>8.<a target="_blank" href="http://www.zuowen.net/xierenzuowen/article_90180.html">母爱精选作文</a></p>
<p>9.<a target="_blank" href="http://www.zuowen.net/qinqingzuowen/article_18556.html">母爱如山的作文</a></p>
pic:
<img src="//www.zuowen.net/pic/allimg/copyright/lanmu/lm1141.jpg" alt="母爱英语作文" style="white-space: normal; width: 400px; height: 324px;">
