url:	http://www.zuowen.net/yingyuzuowen/article_220444.html
title:
<h1 class="title">我的英语老师小学生作文</h1>
time:
context:
<p>我的英语老师小学生作文</p>
<p>　　我的英语老师，这个英语老师给我补习了2年，她姓黄，我都叫她黄黄老师，我跟她的关系十分密切，她还是个大学生。每个星期六的早晨，老师冒着严寒来到我的家里给我上课，这一点值得我跟老师学习，你们想了解我的英语黄黄老师吗？那就跟我来吧！</p>
<p style="text-align: center;"><img src="//www.zuowen.net/pic/allimg/copyright/lanmu/lm1328.jpg" alt="我的英语老师小学生作文" style="white-space: normal; width: 400px; height: 324px;"></p>
<p>　　黄黄老师有一头黑乎乎的头发，大大的眼睛，小小的鼻子，大大的嘴巴，耳朵嘛！就是左边大，右边小，老师的耳朵最好玩了。皮肤也是黑黑的，脑袋很灵活，老师喜欢做比较高难度的东西，这一点我非常欣赏，老师还有一个灵巧的小手，手小小的，像小小的小包子一样小，好可爱呀！见了就想把它一口给吞下去。我感觉从老师表面来看，就能看出来老师是一个温顺、和蔼、负责任、爱学习的好老师，我要向老师好好学习，天天向上呀！</p>
<p>　　记得有一次，我没有请这个温顺、和蔼、负责任、爱学习的好老师——黄黄老师来上课，我的成绩慢慢的下降了，非常想念黄黄老师来给我补课。第二天凌晨，妈妈知道了我的想法，于是，妈妈就匆匆忙忙的打给了电话黄黄老师，黄黄老师得知了这个消息，她马上从大学城那里给我赶过来给我上课，那是，我正在吃早餐，突然听到了门铃的响声，我我兴高采烈的打开了门，看见了黄黄老师，我高兴地叫了起来：“黄黄老师，黄黄老师，你终于来了呀！我好想你呀！”然后，我给了老师一个拥抱，妈妈说：“好啦！你让老师换完了鞋子，就给你上课好不好呀！”我高兴的点了点头，“老师，我才考了72分。”我说，老师会笑着说：“没关系，只要你努力了，肯定成绩可以提高的，不要灰心啊！来我们开始上课。”我上着上着，渐渐地，渐渐地，我的眼泪流了出来，老师也没管我，就一直持续到下课，我觉得老师说的对，没关系，只要我努力了，肯定成绩可以提高的，不能灰心啊！吧不懂得东西弄懂，就可以了，黄黄老师给了我信心，我就必须努力，考个好的成绩。</p>
<p>　　黄黄老师是世界上最好的老师，是世界上最可爱的老师，是世界上最温柔的老师，老师我爱你。</p>
<p>　　林老师是教我一年级时的英语老师。她有一头乌黑的秀发，像瀑布一样垂在肩上。她的笑容像巧克力一样甜蜜，让人心中暖暖的。她温柔又美丽，是我心中最美的老师老师上课生动有趣，声情并茂。 她没有像其他老师那样批评我们，让我们罚抄，但我们都像中了魔咒似的乖乖听命。有人表现不好了，上课不听讲了，林老师总是轻轻望他们一眼，那美丽明亮的大眼睛仿佛能说明一切。她长长的睫毛 微微颤动，让人不忍心打破她清澈眸子中的宁静。到了二年级，林老师走了。听说是去英国留学了，我真是悲喜交集喜的是林老师有了出国深造的机会，悲的是我再也见不到林老师了。林老师，是您为 我打开了英语知识大门。我会永远记得您。</p>
<p>　　开学了，听说这个学期我们班换了两位老师。上课的第一天，数学课上我很高兴的认识了岳老师，这节课我上得很认真。下课后，我期待着新的英语老师的到来。</p>
<p>　　新老师是男是女，是不是很漂亮，眼睛是不是很大，短发还是长发……各种形象都出现在我的脑海中。我带着满脑袋的好奇在座位上等待着老师的到来。左等右等，终于在英语课上，我看见了她。她穿着白色的上衣，黑色的短裙，走过我的座位时，留下一阵香味抚摸着我。直到老师走到讲台我才看清她的样子:圆圆的脸上，一双炯炯有神的大眼睛刻在上面，乌黑的头发散发着一股清新的香味，一张红红的樱桃嘴一笑起来一定十分可爱。不过，我没看到老师笑。因为别看老师很漂亮，可是表情却非常严肃。她先进行自我介绍：“同学们好，我姓孔，是你们新的英语老师，希望我们今后合作愉快，共同努力搞好我们的英语成绩，好不好？”大家齐声说好，并鼓掌欢迎。</p>
<p>　　课上孔老师教我们读了句子，单词和意思。在读u1a部分时，我们还有些不会，所以读的不整齐也不顺口，而孔老师却严肃而耐心的说:“这一次读的我不是很满意，再来一次，我相信你们一定会读好的！”这时，我的.同桌陈中杰轻轻地说：“老师好凶啊！我们这个学期一定没有好果子吃了。”会吗？我也开始担心起来了。</p>
<p>　　不一会儿下课了，孔老师让课代表，也就是我去认一下她的办公室，我乖乖的跟在旁边，可心里好像有一只小鹿在到处乱跳。谁知，孔老师又把手放在我的肩上，对我很亲切的样子，这下小鹿身上又压了一块大石头，顿时，我心跳加速，吃惊的眼睛睁的老大，狠狠地吸了一口气，老师对着我笑，而我又紧张的不敢去看孔老师她又问我：“你叫什么名字？”我说：“王……玥，”她说：“哦，王玥啊，说着就用手指向右手边第二张桌子，这就是我的桌子，以后作业都放在这上面。”我红着脸说：“哦?，知道了。”在回教室的路上我想，原来从不言笑的孔老师也有和蔼可亲的一面。那时，我觉得天格外蓝，云格外洁白，树格外的绿……</p>
<p>　　瞧！这就是我们的英语老师孔老师，一个对我们不怎么爱笑的老师，却又和蔼可亲的老师。</p>
<p>　　新学期开始了，学校里发生了很大的变化。我们很多老师都换了，我们的英语老师也换成了现在的马老师。</p>
<p>　　马老师大概有三十多岁，一双美丽的大眼睛，高高的鼻梁，一头乌黑的秀发，显得非常漂亮！</p>
<p>　　马老师上课时非常和蔼可亲，但是，又能给人一种心服口服的感觉。即使那些调皮的同学也会变得听话起来。有一次，马老师给我们布置了一个背诵课文的作业，但是第二天我们却没有几个人完成。</p>
<p>　　上课铃响了，我们的心里就像揣着一个小兔子，怦怦直跳，心想马老师一定会严厉的惩罚我们了吧？</p>
<p>　　可是马老师知道后竟然没有发脾气，而是和蔼的与我们讲道理，她那语重心长的话语，让我们都懂得了学习的重要性，明白了少壮不努力老大徒伤悲的道理。</p>
<p>　　我们都为自己所做的事感到脸红，感到后悔。马老师没有批评人和人，可是第二天全班同学竟然全背下来了那篇课文！</p>
<p>　　我喜欢我的新英语老师，五年级也是为初中打好基础的关键一年，我很高兴有马老师这样的好“妈妈”陪我一起度过，我相信在她的悉心教导下，我的英语成绩一定会有更大的进步！</p>
<p>【我的英语老师小学生作文】相关文章：</p>
<p>1.<a target="_blank" href="http://www.zuowen.net/xierenzuowen/article_98689.html">我的英语老师</a></p>
<p>2.<a target="_blank" href="http://www.zuowen.net/sinianjizuowen/article_192967.html">我的英语老师</a></p>
<p>3.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_204233.html">我的英语老师小学作文</a></p>
<p>4.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_213057.html">关于我的英语老师作文</a></p>
<p>5.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_200570.html">我的英语老师作文250字</a></p>
<p>6.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_200184.html">我的英语老师作文600字</a></p>
<p>7.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_200404.html">我的英语老师作文500字</a></p>
<p>8.<a target="_blank" href="http://www.zuowen.net/xierenzuowen/article_152410.html">最新我的英语老师作文</a></p>
<p>9.<a target="_blank" href="http://www.zuowen.net/xierenzuowen/article_92548.html">我的英语老师作文5篇</a></p>
pic:
<img src="//www.zuowen.net/pic/allimg/copyright/lanmu/lm1328.jpg" alt="我的英语老师小学生作文" style="white-space: normal; width: 400px; height: 324px;">
