url:	http://www.zuowen.net/yingyuzuowen/article_220553.html
title:
<h1 class="title">小学英语作文：Nanhu Park</h1>
time:
context:
<p>小学英语作文：Nanhu Park</p>
<p>　　在日复一日的学习、工作或生活中，大家都经常看到作文的身影吧，作文一定要做到主题集中，围绕同一主题作深入阐述，切忌东拉西扯，主题涣散甚至无主题。那么你有了解过作文吗？以下是小编精心整理的小学英语作文：Nanhu Park，仅供参考，大家一起来看看吧。</p>
<p style="text-align: center;"><img src="//www.zuowen.net/pic/allimg/copyright/img/d7f7cec405.jpg" alt="小学英语作文：Nanhu Park" style="white-space: normal; width: 400px; height: 324px;"></p>
<p>　　In Nanning, there is a famous park. .Its name is Nanhu Park.</p>
<p>　　Nanhu Park is long and beautiful. The water is clean and green. There are a lot of people walking around the park every night .And there are also many children playing there. They play games with each other, such as hide-and-seek. We can hear them laugh and sing .How happy they are!</p>
<p>　　There are many big and green trees around it. Some old people are sitting under them .They are talking many different topics of their lives .And some birds are talking and singing in the trees. It seems that they are praising the beautiful park here.</p>
<p>　　When the night comes, the moon smiles and the stars twinkle their eyes in the sky. They like seeing this wonderful scene .Thousand of lights are lightening the road and the city. And the water has many colors: red, pink, yellow, blue…decorate not looks more beautiful than daytime.</p>
<p>　　We are proud of it. And welcome you to come here!</p>
<p>　　译文:</p>
<p>　　在南宁，有一个著名的公园。它的名字是南湖公园。</p>
<p>　　南湖公园是漫长和美丽。水是清洁和绿化。有很多人走在公园每晚。也有许多儿童那里比赛。玩游戏的对方，如捉迷藏。我们可以听到他们笑和唱歌。多么高兴他们！</p>
<p>　　有很多大国和它周围的.绿树。一些老人坐在他们。他们正在谈论许多不同主题的生命。和一些鸟类正在谈论和唱歌的树。看来，他们称赞这里的美丽的公园。</p>
<p>　　当夜晚来临，月亮微笑和眨眼的星星的眼睛在天空中。他们喜欢看到这个美好的场面。千人的灯光减轻道路和城市。和水有许多颜色：红色，粉色，黄色，蓝色...装饰并不期待更美好的白天。</p>
<p>　　我们对此感到自豪。并欢迎您到这里来！</p>
<p>【小学英语作文：Nanhu Park】相关文章：</p>
<p>1.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_206033.html">A Beautiful Park作文</a></p>
<p>2.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_214359.html">In the park英语作文</a></p>
<p>3.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_252.html">小学英语作文</a></p>
<p>4.<a target="_blank" href="http://www.zuowen.net/xiaoxueshengzuowen/article_213543.html">小学英语作文：Typhoon</a></p>
<p>5.<a target="_blank" href="http://www.zuowen.net/xiaoxueshengzuowen/article_212904.html">The spring rain小学英语作文</a></p>
<p>6.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_196123.html">秋天小学英语作文</a></p>
<p>7.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_217008.html">春天的小学英语作文</a></p>
<p>8.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_216882.html">【精品】小学英语作文400字4篇</a></p>
<p>9.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_216938.html">小学英语作文700字八篇</a></p>
pic:
<img src="//www.zuowen.net/pic/allimg/copyright/img/d7f7cec405.jpg" alt="小学英语作文：Nanhu Park" style="white-space: normal; width: 400px; height: 324px;">
