url:	http://www.zuowen.net/yingyuzuowen/article_220188.html
title:
<h1 class="title">介绍中国的英语作文</h1>
time:
context:
<p>介绍中国的英语作文</p>
<p>　　Dear Dave,</p>
<p style="text-align: center;"><img src="//www.zuowen.net/pic/allimg/copyright/img/d7f7cec44_2.jpg" alt="介绍中国的英语作文" style="white-space: normal; width: 400px; height: 324px;"></p>
<p>　　I’m happy to be your pen pal. I’d like to tell you something about China.</p>
<p>　　China is the biggest country in Asia. It’s almost as big as the USA. China has the biggest population in the world. The people here are friendly and hard-working. The Yangtze River is one of the longest rivers in the world. China is over 5000 years old. It has a much longer history than the US. The Qomolangma is the highest mountain in the world.</p>
<p>　　I love China very much. Welcome to China and play with me.</p>
<p>　　Yours</p>
<p>　　Li Lei</p>
<p>　　<strong>【参考译文】</strong></p>
<p>　　亲爱的戴夫，</p>
<p>　　我很高兴成为你的笔友，我想告诉你一些关于中国。</p>
<p>　　中国是亚洲最大的国家。这几乎是美国，中国是世界上人口最多的大。这里的人们友好勤劳。扬子江是世界上最长的河流之一。中国有5000多年的历史。它的历史比美国悠久得多。珠穆朗玛峰是世界上最高的山峰。</p>
<p>　　我非常爱中国。欢迎来中国和我一起玩。</p>
<p>　　你的朋友，</p>
<p>　　李磊</p>
<p>　　As is known to us all, china covers 9.6 million square kilometers, which is the third largest country in the world .China consists of 56 nationalities, among which the Han Ethnic Group is the largest ,making up 94% of the whole. China has lots of big rivers ,such as the Yangtze River and the Yellow River , which are the most important river in china .There was a time when Chinese economy was far behind many other countries in the world .As time passes by, the day are gone forever when the Chinese people was looked down upon, of which Chinese people are proud.</p>
<p>　　你的英国朋友请你给他主办的校报写一篇短文，介绍中国的春节。请根据下列信息完成短文。</p>
<p>　　时 间活动内容春节前夕大扫除，购物除 夕家庭团聚，吃年饭春节期间探亲访友，放鞭炮</p>
<p>　　<strong>注意：</strong></p>
<p>　　1. 词数100左右；</p>
<p>　　2. 可以适当增加细节，以使行文连贯；</p>
<p>　　3. 开头语已为你写好；</p>
<p>　　4. 参考词汇：鞭炮 firecrackers</p>
<p>　　<strong>[范文]</strong></p>
<p>　　Falling on the first day of the first month of the Chinese lunar calendar, the Spring Festival is in fact the Chinese New Year. Before it, people usually give their house a thorough cleaning and do a lot of shopping. On the New Year’s Eve, people come home and the whole family have a big dinner together. On the New Year’s Day and the few days to follow, people often visit their relatives and friends to give one another their best wishes for the new year. Throughout this festival period firecrackers can be heard everywhere. This festival is the most important festival for the Chinese.</p>
<p>　　ChinaThe People＇s Republic of China is a socialism country with its own characteristics.It is one of the developing countries.China lies in the east of Asia.It has a number of neighboring countries.To the north,northeast and northwest are the Mongolia,Russia and Korea.To the south are Vietnam,Laos,Thailand and the Philippine.To the west and southwest are India,Burma,Bhutan,Nepal and Pakistan.To the east is Japan,which faces China across the East China Sea.China is a country with a vast territory.It has an area of over 9,600,000 square kilometers.It consists of 34 provinces,autonomous regions,and municipalities directly under the Central government .Beijing,which is situated in the North China,is its capital.The People＇s Republic of China is one of the largest countries in the world.Now it has a population of more than 1.2 billion,making up a quarter of the world population.</p>
<p>　　中国中华人民共和国是一个社会主义国家运动会主办权有自己的特点。这是一个发展中国家。中国位于亚洲的东部。它有许多的邻国。北、东北和西北是蒙古、俄罗斯和韩国。南方是越南、老挝、泰国和菲律宾。西部和西南地区的印度、缅甸、不丹、尼泊尔和巴基斯坦。东日本,面对中国在东海。中国是一个地域辽阔的国家。它有一个面积9600000多平方公里。它由34个省、自治区和直辖市人民政府。北京位于中国北部,是它的资本。中华人民共和国是世界上最大的国家之一。现在有超过12亿人口,占世界人口的四分之一。</p>
<p>　　In our country .There are a lot of holidays such as Spring festival , Children's day and May day. All the people in China like these holidays very much.</p>
<p>　　Spring festival is a popular holiday in china. It is in January or February. People eat a lot of delicious food and go shopping. They usually spend time with their family and friends.My favourite holiday is Children's day. It is on the first of June. Children usually have parties at school, go to the park and go to the cinema. I didn't go to the park and go to the cinema last year. I had parties at school with my family. We were very happy.</p>
<p>　　My father and grandpa's favourite holiday is May day. It is on the first of May. People usually have a long holiday. They meet friends and relatives. They go to parks and beaches. But my father and grandpa planted trees last May day. They were very tired but happy!</p>
<p>　　We all like these holidays. On the days, we had a good time.</p>
<p>　　The Chinese manners is differend from other countries .In China, people first meet to shake hands.When people eat,Besides soup, table all food use chopsticks.Certain foods can move chopsticks eyes.And sometimes the Chinese host use their chopsticks to put food in your bowl or plate. This is a sign of politeness. The appropriate thing to do would be to eat the whatever-it-is and say how yummy it is. If you feel uncomfortable with this, you can just say a polite thank you and leave the food there.</p>
<p>　　Don't tap on your bowl with your chopsticks.Beggars tap on their bowls, so this is not polite.Also, when the food is coming too slow in a restarant, people will tap their bowls. If you are in someone's home,it is like insulting the cook.</p>
<p>　　中国的礼仪是不同于来自其他国家的。在中国,人们第一次见面握手。当人们吃,除了汤之外,表所有食品使用筷子。某些食物可以动筷子的眼睛。有时中国主人用筷子把食物在你的碗或盘子。这是礼貌的标志。适当的事是吃不管它是什么,说有多美味。如果你觉得不舒服,你可以只说一个礼貌的谢谢,让那里的食物。</p>
<p>　　不要用筷子敲打饭碗。乞丐行乞时常敲打饭碗,所以,这是不礼貌的.。同样,当食物来restarant太慢,人们会利用他们的碗。如果你在某人的家里,它就像侮辱厨师。</p>
<p>　　<strong>China</strong></p>
<p>　　The People's Republic of China is a socialism country with its own characteristics. It is one of the developing countries.</p>
<p>　　China lies in the east of Asia. It has a number of neighboring countries. To the north, northeast and northwest are the Mongolia, Russia and Korea. To the south are Vietnam, Laos, Thailand and the Philippine. To the west and southwest are India, Burma, Bhutan, Nepal and Pakistan. To the east is Japan, which faces China across the East China Sea.</p>
<p>　　China is a country with a vast territory①. It has an area of over 9,600,000 square kilometers. It consists of 34 provinces, autonomous regions②, and municipalities directly under the Central Covernment③. Beijing, which is situated in the North China, is its capital.</p>
<p>　　The People's Republic of China is one of the largest countries in the world. Now it has a population of more than 1.2 billion, making up a quarter of the world population.</p>
<p>　　<strong>【词语解释】</strong></p>
<p>　　①territory['terit+ri]n.领土</p>
<p>　　②autonomous region[&amp;:'t&amp;n+m+s 'ri:DN+n]自治区</p>
<p>　　③municipality[mju:?nisi'p$l+ti]n.市;自治城市;municipalities directly under the Central Government 直辖市</p>
<p>　　<strong>【参考翻译】</strong>中国</p>
<p>　　中华人民共和国是一个社会主义国家有自己的特点。这是一个发展中国家。</p>
<p>　　中国位于亚洲的东部。它有许多的邻国。北、东北和西北是蒙古、俄罗斯和韩国。南方是越南、老挝、泰国和菲律宾。西部和西南地区的印度、缅甸、不丹、尼泊尔和巴基斯坦。东是日本,面对中国在东海。</p>
<p>　　中国是一个地域辽阔的国家①。它有一个面积9600000多平方公里。它包含34个省、自治区②,直辖市Covernment③。北京位于中国北部,是它的资本。</p>
<p>　　中华人民共和国是世界上最大的国家之一。现在有超过12亿人口,占世界人口的四分之一。</p>
<p>【介绍中国的英语作文】相关文章：</p>
<p>1.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_213503.html">关于介绍中国的英语作文</a></p>
<p>2.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_214903.html">中国的美食 Chinese Food英语作文</a></p>
<p>3.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_201506.html">介绍小狗的英语作文</a></p>
<p>4.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_208488.html">介绍西安的英语作文</a></p>
<p>5.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_205635.html">介绍校园英语作文</a></p>
<p>6.<a target="_blank" href="http://www.zuowen.net/yibaizizuowen/article_22936.html">关于中国的作文100字</a></p>
<p>7.<a target="_blank" href="http://www.zuowen.net/erbaiwushizizuowen/article_206511.html">我爱中国的作文250字</a></p>
<p>8.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_214301.html">介绍西湖的英语作文</a></p>
<p>9.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_218030.html">介绍天津的英语作文</a></p>
pic:
<img src="//www.zuowen.net/pic/allimg/copyright/img/d7f7cec44_2.jpg" alt="介绍中国的英语作文" style="white-space: normal; width: 400px; height: 324px;">
