url:	http://www.zuowen.net/yingyuzuowen/article_220255.html
title:
<h1 class="title">教师节英语作文</h1>
time:
context:
<p>教师节英语作文</p>
<p>　　Teachers’ Day comes on September 10th every year. On the day we usually give our teachers cards to show our thanks. I thank them for helping me when I am in trouble, and I thank them for teaching me how to be a real man.</p>
<p style="text-align: center;"><img src="//www.zuowen.net/pic/allimg/copyright/img/bdcccaa6bdda2_2.jpg" alt="教师节英语作文" style="white-space: normal; width: 400px; height: 324px;"></p>
<p>　　Of course they are very friendly to everyone. They always get on very well with their students. They are not only our teachers but also our friends. They love us very much and we love them,too.</p>
<p>　　译文：每年的9月10日是教师的节日。在这一天，我们通常会给老师卡片以示感谢。我感谢他们在我遇到困难的时候帮助我，感谢他们教会我如何成为一个真正的人。</p>
<p>　　当然，他们对每个人都很友好。他们总是和他们的学生相处得很好。他们不仅是我们的老师，也是我们的朋友。他们非常爱我们，我们也爱他们。</p>
<p>　　September 10 is our Teachers’ Day. In the afternoon, Zhonghua school held a celebration meeting, at which more than twenty old teachers each were praised with a medal for their over thirty years of teaching. Our principal made an enthusiastic speech at the meeting, and then the representative of the teachers and students gave a talk to us. After the meeting, we started performances played by some teachers and students, which were very interesting and instructive. We all had a wonderful time. I think we all should respect the teachers, engineers of human soul.</p>
<p>　　译文：九月十日是教师节，下午中华小学举行了一场庆祝活动，会上有20多位教师授以奖牌，为他们30多年坚守在教育岗位。会上校长做了激情澎湃的演讲，然后分别是老师代表，学生代表发言。会议结束后，我们观看了老师及同学表演的节目，非常有趣且有教育意义，我们度过了很棒的一天。我觉得每个人都要尊敬老师——这位灵魂的工程师。</p>
<p>　　教师是伟大的，为什么，因为他教育着祖国的花朵啊，他用阳光沐浴的是一颗颗大地上的土壤。</p>
<p>　　The teacher is great. Why? Because he teaches the flowers of his motherland. What he bathes with sunshine is the soil on the earth.</p>
<p>　　他尽职尽责，用无数夜晚来定制教育学生们的知识。教师的心是明灯，教室是蜡烛，学生们在两处明亮的地方学习，无一不是温暖的，明亮的，和谐的，阳光的，干净的。教师的.心是圣洁的，教室是神圣的，学生们在这两处纯洁的地方思考，知识净化我们的心灵，让我们收集天地精华。</p>
<p>　　He does his duty and uses countless nights to customize and educate students' knowledge. The teacher's heart is the light, the classroom is the candle, the students study in two bright places, none of which is warm, bright, harmonious, sunny and clean. The teacher's heart is holy, the classroom is sacred, students in these two pure places to think, knowledge purifies our hearts, let us collect the essence of heaven and earth.</p>
<p>　　教师节是世界回馈给老师最辛苦美满的节日。</p>
<p>　　Teacher's Day is the most hard and happy day in the world to give back to teachers.</p>
<p>　　Today is September 10th. Teachers Day. A teacher was invited to our school to give us a talk. He had taught for fifty years, and had won the gold medals by the Department of Education. He worked hard all his life, and gave all his love to the students. We were deeply moved by his talk.</p>
<p>　　Today many students he had taught before come back to him, and some others from all over the country visit wrote him letters to express their love and thanks. The old man said that it was the happiest moment in his life.importance to enough sleep and relaxation. I believe this will ensure my good health for the rest of my life.</p>
<p>　　Teachers'Day that day, when we are the classroom music class, Mr. Zhang came in, our class immediately shouted: "teacher," her first rushed up, hugged Zhang, I ran up and hugged zhang. Then, Yang Xi, Hao Xuan, Yue Kai also rushed up to hug teacher Zhang. Mr. Zhang showed a happy and kindly smile on his face.</p>
<p>　　Mr. Zhang, a class teacher from grade 1 to three, taught us for three years of Chinese language class. Three years, Zhang care for each one of our classmates always meticulous: Zhang afraid we have too much homework, the abolition of the "read card"; when the weather turns cool, Mr. Zhang will remind us to wear more clothes, do not catch cold; the teacher taught us a lot of knowledge, let us learn a lot of skills...... The students and Mr. Zhang have profound feelings. This year, we went up to grade four. Mr. Zhang no longer acted as our teacher in charge of class, nor taught us Chinese. We haven't seen her for a long time. Mr. Chen, the new teacher in charge of the class, took up a lot of pictures and fixed our joy and excitement in the lens.</p>
<p>　　The day of teacher's Day is an unforgettable day! I want to bless our beloved teacher Zhang's health and work! I must also study well, get good results and report to the teacher!</p>
<p>　　Teachers' Day in Singapore（新加坡的教师节)</p>
<p>　　On 31st August, was a day like any other schooldays, except that the teachers, instead of being bogged down by assignments were besieged by gifts, flowers and cards from the ever-grateful students.</p>
<p>　　8月31日，仍是一个需要到学校的日子，但是教师们在这一天将被倍受感激的学生们送来的礼物、鲜花、贺卡包围。</p>
<p>　　The hall was beautifully decorated with colourful balloons and streamers. The Class Chairman and Vice-Chairman were given the honour to invite the teachers personally to the hall. With each teacher's arrival, the students roared and cheered for them.</p>
<p>　　礼堂被彩色的气球和横幅装的富丽堂皇。每个班级的主席和副主席很荣幸地去邀请他们的老师。每一位老师的入席都伴随着学生们的兴高采烈的呼声。</p>
<p>　　The concert comprised of dances and song performances that were all put up by our very own talented students! The audience even crooned to the rhythm of the songs. Our students also 'boogied down' with slick dance steps while the Balinese dancers impressed all with their delightful costumes and grace.</p>
<p>　　音乐会全部由该校有才能学生的歌舞表演组成。台下的听众跟着歌声低声吟唱。巴厘岛的舞女们展示着自己的节日盛装的优雅身姿，同时学生们也翩翩起舞。</p>
<p>　　You are like a third parent. We all love you and respect you. 您就象我们的家长，我们都敬爱您，英语作文教师节。</p>
<p>　　The primary purpose of education is not to teach you to earn your bread, but to make every mouthful sweet.——James Angel 教育最主要的目的，不是教你懂得如何谋生，而是使每个人生活得更香甜。——安吉儿</p>
<p>　　We all like having you as our teacher. You have our respect and gratefulness. 我们喜欢您做我们的老师，我们尊敬您、感激您。</p>
<p>　　This is Teachers' Day and a time to be grateful to all teachers. This profession deserves the special recognition and respect. There is no more appropriate time than this to honour you and others in your chosen field. You have my eternal gratefulness. Have a happy Teachers' Day. 时逢教师节，是向所有教师表达谢意的日子。这个职业值得受到特别的重视和尊重。此刻是向您及您的同行们致敬的最佳时机。我永远感激您。祝节日快乐！</p>
<p>　　We are more thankful than we can express. 对您的谢意，我们无法用语言来表达。</p>
<p>　　You have been a qualified teachers and even better friend. Thank you for all that you have done. 您不仅是一位合格的教师，更是一位好朋友，谢谢您所做的一切。</p>
<p>　　Education is not the filling of a pail, but the lighting of a fire. 教育不是灌满一桶水，而是点燃一团生命的火焰。</p>
<p>　　The man who can make hard things easy is the educator. 能使艰难之事变得容易的人是教育者。</p>
<p>　　Send you our everlasting feeling of gratefulness and thankfulness on this special day. 在这特别的日子谨向您致以我们永恒的感激之情。</p>
<p>　　A teacher affects eternity; he can never tell where his influence stops.——Henry Adams 一个教师对人的影响是永恒的。——亚当斯</p>
<p>　　It is the most appropriate time to show you our thanks. 现在是向您表达感激之情最为恰当的时刻。</p>
<p>　　This small gift is only a tiny token of our gratefulness. We all want to thank you. 这件小小的礼物略表我们的感激之情。我们大家都很感谢您。</p>
<p>　　I am truly grateful to you for what you have done. 我深深地感激您所做的一切。</p>
<p>　　Dear teacher, thank you for illuminating my voyage of life with your own light of life. My grateful sentiments come from the bottom of my heart. 老师，感谢您用自己的生命之光，照亮了我人生的旅途，对您我满怀感谢之情。</p>
<p>　　The whole secret of the teacher's force lies in the conviction that men are convertible. 教师力量的全部秘密，就在于深信人是可以改变的。</p>
<p>　　No one deserves a bigger thank you than you. One day is hardly enough to show our gratitude.没有人比您更值得如此深厚的谢意。仅这一天远不足以表达我们对您的感激之情。</p>
<p>　　Thank you for making learning not a dull thing but a great joy. 感谢您使我们把枯燥的学习变成了巨大的乐趣.</p>
<p>　　We all pitched to buy this gift. We are all grateful to you. Without your unselfish dedication could we achieve no success today. 这是我们买给您的礼物，谢谢您，老师，教师节作文《英语作文教师节》。没有您无私的奉献，就不会有我们今天的成功。</p>
<p>　　Our beloved teacher, you are the spring shower that moistens our hearts. The love and care you have given us will encourage us to go through a long and arduous journey.亲爱的老师，您就象那春天的细雨，滋润着我们的心田。您给予我们的爱和关怀将鼓舞着我们走过艰难困苦.</p>
<p>　　You are not only a good teacher but our close friend. Thank you for helping us make something of our lives. 您不仅是一位好老师，也是我们亲密的</p>
<p>　　朋友，谢谢您帮助我们奋发有为。</p>
<p>　　My heartfelt thanks to you, dear teacher. On the voyage of life, you have kindled the light of hope for me. What you have done enriches my mind and broadens my view. On this day I honour you sincerely. 亲爱的老师，向您表达我最衷心的感谢。在人生旅途上，您为我点燃了希望之光，您所做的一切润泽了我的心灵，开阔了我的视野。今天我向您致以崇高的敬意。</p>
<p>　　I wish to express my thanks to you for instructing my child. 谢谢您对我孩子的教诲.</p>
<p>　　My sincere thanks to you for being my child's teacher. 衷心感谢您，我孩子的恩师。</p>
<p>　　My child speaks highly of you. Thank you very much. 我的孩子很崇敬您。谢谢。</p>
<p>　　As parents we recognize the value of you in our child's development. Thank you for what you have done. 作为父母，我们深知您在我们孩子成长道路中的重要。谢谢您所做的一切。</p>
<p>　　One good teacher in a lifetime may sometimes change a delinquent into a solid citizen. 一个好教师具有化腐朽为神奇的力量。</p>
<p>　　Teacher, who educate children, deserve more honor than parents, who merely gave them birth; for the latter provided more life, while the former ensure a good life. 教育儿童的教师应当享有比父母更多的荣誉，父母只给孩子生命，而教师则创造了一个完善的生命。</p>
<p>　　What sculpture is to a block of marble, education is to the soul.——Joseph Addison 教育之于灵魂，犹如雕刻之于大理石。——爱迪生</p>
<p>　　Planting knowledge is planting hope, planting happiness. Dear teacher,you are the planter of hope and happiness!</p>
<p>　　Our class gets a little out of hand at times ,but we do respect you!</p>
<p>　　I am too pious to dare to find out good words for our teacher, because teacher is the most respectful word in the world.</p>
<p>　　When I first entered the classroom and called you Teacher,it means I will</p>
<p>　　You are like a third parent. We all love you and respect you.The primary purpose of education is not to teach you to earn your bread, but to make every mouthful sweet.</p>
<p>　　——James AngelWe all like having you as our teacher. You have our respect and gratefulness.This is Teachers' Day and a time to be grateful to all teachers.</p>
<p>　　This profession deserves the special recognition and respect.</p>
<p>　　There is no more appropriate time than this to honor you and others in your chosen field. You have my eternal gratefulness. Have a happy Teachers' Day.We are more thankful than we can express.</p>
<p>　　You have been a qualified teachers and even better friend. Thank you for all that you have done.</p>
<p>　　Education is not the filling of a pail, but the lighting of a fire.The man who can make hard things easy is the educator.Send you our everlasting feeling of gratefulneand thankfulneon this special day.A teacher affects eternity; he can never tell where his influence stops. — Henry AdamsIt is the most appropriate time to show you our thanks.This small gift is only a tiny token of our gratefulness. We all want to thank you.</p>
<p>　　I am truly grateful to you for what you have done.</p>
<p>　　Dear teacher, thank you for illuminating my voyage of life with your own light of life. My grateful sentiments come from the bottom of my heart.</p>
<p>　　The whole secret of the teacher's force lies in the conviction that men are convertible.No one deserves a bigger thank you than you. One day is hardly enough to show our gratitude.Thank you for ma-ki-ng learning not a dull thing but a great joy.We all pitched to buy this gift. We are all grateful to you. Without your unselfish dedica- tion could we achieve no suc- cetoday.Our beloved teacher, you are the spring shower that moistens our hearts. The love and care you have given us will encourage us to go through a long and arduous journey.You are not only a good teacher but our close friend. Thank you for helping us make something of our lives.My heartfelt thanks to you, dear teacher. On the voyage of life, you have kindled the light of hope for me. What you have done enriches my mind and broadens my view. On this day I honor you sincerely.</p>
<p>　　In Honour of Teachers on the Occasion of Teacher＇s Day</p>
<p>　　September 10th is a special occasion, on which we students can express our sincere gratitude to our respectable teachers.</p>
<p>　　In my memory, Mr. Jiang, my Chemistry teacher in high school, impressed me most in my past school years. At that time, I did rather poorly in Chemistry, which made me very upset. Mr. Jiang, a considerate and patient teacher, did not have any bias against me, who lagged far behind the others. Instead, he encouraged me and worked out an inpidualized plan for me. Highly motivated by this, I got interested in this subject, found the correct methods and managed to catch up with others.</p>
<p>　　I will never forget those who have dedicated all their efforts to help me grow intellectually. Working even harder and making my due contributions, I think, will be most rewarding to my teachers.</p>
<p>　　Today is September 10. It is Teachers'Day. Xiao Hua has been ill in bed for more than a week. Her teacher comes to her home to give her lessons after school every day. In order to show their respect, Xiao Hua and her mother decide to give the teacher a present.They make a big red flower. When the teacher arrives, Xiao Hua presents the flower to the teacher. She fastens it to the breast of her teacher' s jacket, and says "Happy Teachers' Day" to her. The teacher expresses her thanks and sets down to give her lessons. Xiao Hua's mother pours a glass of water for the teacher and puts a lamp on the table.</p>
<p>　　今天是9月10日教师节。小华已得病一周多了，每天放学后她的教师都来到她家给她补课。为了表示对教师的尊敬，小华和她妈妈决定送给教师一件礼物。她们自制了一朵大红花。当教师到的时候，小华把它送给了教师，亲自把花钉在教师的胸前，并说道：“祝您教师节快乐。”教师感动极了，于是坐下来给她补课。小华的妈妈亲自为教师沏了一杯茶，然后又拿了一盏灯放在了书桌上。</p>
<p>【教师节英语作文】相关文章：</p>
<p>1.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_203305.html">教师节的礼物英语作文</a></p>
<p>2.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_209983.html">精选教师节英语作文400字汇总十篇</a></p>
<p>3.<a target="_blank" href="http://www.zuowen.net/gaozhongzuowen/article_21526.html">高中教师节作文</a></p>
<p>4.<a target="_blank" href="http://www.zuowen.net/huatizuowen/article_95285.html">教师节作文示例</a></p>
<p>5.<a target="_blank" href="http://www.zuowen.net/chuzhongzuowen/article_25989.html">初中教师节作文</a></p>
<p>6.<a target="_blank" href="http://www.zuowen.net/gaozhongzuowen/article_200567.html">高中生教师节作文</a></p>
<p>7.<a target="_blank" href="http://www.zuowen.net/qibaizizuowen/article_171375.html">教师节精选作文700字</a></p>
<p>8.<a target="_blank" href="http://www.zuowen.net/liubaizizuowen/article_219318.html">教师节的作文600字</a></p>
<p>9.<a target="_blank" href="http://www.zuowen.net/sibaizizuowen/article_17842.html">教师节400字作文</a></p>
pic:
<img src="//www.zuowen.net/pic/allimg/copyright/img/bdcccaa6bdda2_2.jpg" alt="教师节英语作文" style="white-space: normal; width: 400px; height: 324px;">
