url:	http://www.zuowen.net/yingyuzuowen/article_220506.html
title:
<h1 class="title">春天来了英语作文</h1>
time:
context:
<p>春天来了英语作文</p>
<p>　　Spring comes,some people can do what they want to do.Look at the lake,the ducks swim in there.ther are laughing.I know they are very happy.Look at the trees,begin to turn green.Lot of pepole is working hard.And everywhere are so warm.Look at the sky,swallow is flying.They are Freedom.A year moment lies in spring,and Spring is very beautiful.So, I love Spring very much.How about you?</p>
<p style="text-align: center;"><img src="//www.zuowen.net/pic/allimg/copyright/img/b4baccec3_2.jpg" alt="春天来了英语作文" style="white-space: normal; width: 400px; height: 324px;"></p>
<p>　　译文：</p>
<p>　　春天来了，有些人可以做他们想做的事情。看湖上，鸭子正在那游。他们在笑，我知道他们非常快乐。看树，开始变绿。很多人正在工作努力。到处都是温暖的。看看天空，燕子在飞。他们是自由的。一年之际在于春，春天是很美丽的。所以，我很喜欢春天。你呢？</p>
<p>　　Winter has gone , and spring is coming on .</p>
<p>　　Watching the ice melting ,I know the whole earth is being rejuvenated from the winter. A variety of flowers come out to show their beauty and bring us fragrance .It is a feast for our eyes and souls. The yellow grass suddenly turn green . The young leaves grow on the branches . The swallows fly back home with the greeting of spring .</p>
<p>　　Everything is coming to life . Feeling the warm sunshine , enjoying the beautiful scenery , listening to the wonderful music , drinking the new tea , my mood is perfect and I have nothing else to desire. Spring is the most fantastic season in the year .It means so much to the other three seasons</p>
<p>　　冬天已经过去了，春天来了。</p>
<p>　　看着冰融化，我知道整个地球正在从冬天恢复活力。各种各样的花来展示他们的美丽，带给我们芬芳。这是我们的眼睛和灵魂的盛宴。黄色的草突然变成绿色。幼叶在树枝上生长。燕子带着春天的问候飞回了家。</p>
<p>　　一切都开始了。感受温暖的阳光，享受美丽的风景，听美妙的音乐，喝新的茶，我的心情是完美的，我没有其他的欲望。春天是一年中最美妙的季节。它对其他三个季节来说意味着这么多。</p>
<p>　　The sky shows its purest blue. The sun generously gives out its heat and light, shining evenly on the grass, on the trees,on the roofs of houses, on the people passing by, also on me,quietly and tenderly. There come a couple of young people,strolling leisurely. A group of students are sitting in a circle on the grass and discussing something heatedly. Some are reading English but in low voices afraid of breaking the peace of the campus. Others are lying on the lawn, having a nap, or just enjoying the sunshine as I am.</p>
<p>　　I feel I am free, free of thinking anything. In such a pleasing environment, doing anything is a great pleasure. I am fully indulged in this tranquility. If only time could stop!</p>
<p>　　I turn on the radio to enjoy some light music. Much to my disappointment, however, almost all the programs are about the war in Iraq. It is hard to believe that under the same blue sky,some people are suffering from bleeding and death of war while others are enjoying a happy life.</p>
<p>　　The sun is hidden by the clouds. After a few seconds, it shines brightly again.</p>
<p>　　Peaceful life seems to have gone, but it will come back one day, I am sure.</p>
<p>　　What’s my favourite season? Let me tell you.My favourite season is spring. The Spring is a lovely season, I think. There is a garden behind my house. In spring, the trees become green and the flowers give off fragrance(芳香). There are many butterflies and bees over the flowers. The butterflies are dancing and the bees are singing. Sometimes it rains. It usually the rains quietly. The rain moistens(滋润) the trees and the flowers. I think they may say, “We’re very thirsty. The rain is very good. It can help us.” What a beautiful scene! Don’t you think so? And what about your favourite season,could you tell me?</p>
<p>　　春回大地，万象更新。“草长莺飞二月天，拂堤杨柳醉春烟。”一年一度的春天又来了，处处都有她的脚印……</p>
<p>　　Spring returns to the earth, everything is renewed. "The grass grows and the warbler flies in February, and the willows are drunk with spring smoke." The annual spring is coming again, with her footprints everywhere</p>
<p>　　生活中的植物是生机盎然的。瞧，草儿睁开了惺忪的睡眼；花儿绽开了明媚的笑颜；密密层层的淡红的海棠花，在阳光的照耀下，犹如喷花的飞泉；柳树的枝条随风飘扬，使我不禁想起“碧玉妆成一树高，万条垂下绿丝绦”的诗句来。</p>
<p>　　Plants in life are full of life. Look, the grass opens its bleary eyes; the flowers bloom with a bright smile; the thick layers of red Begonia flowers, under the sunshine, are like a fountain of flowers; the branches of the willow trees flutter with the wind, which reminds me of the poem "Jasper makeup into a tree height, ten thousand drooping green ribbons".</p>
<p>　　春天的动物是自由自在的。小虫子从冬眠中苏醒，懒懒地打了个哈欠，快活地绕着花草树木嬉戏玩耍；那些白的`、花的、黑的、黄色的蝴蝶悠闲地从花丛中飞出，在花瓣上翩翩起舞，就像五颜六色的小精灵。</p>
<p>　　Animals in spring are free. The insects wake up from hibernation, yawn lazily, and play happily around the flowers and trees; the white, flower, black and yellow butterflies fly out of the flowers and dance on the petals like colorful elves.</p>
<p>　　人们怎么会禁得住春的诱惑？他们纷纷出来春游、踏青。逢上周末星期天，孩子们跟着他们的父母、家人一起来到湖边的开阔草地上放风筝，一个个漂亮的风筝在一根长长的丝线牵引下，随风飞向蔚蓝的天空。这时，如果你向草丛望去，一定会发现有许多人在干着不同的事：有的躺着背书，有的坐着下棋，有的戴着耳机听音乐，还有的拿着照相机与春天一起合影……</p>
<p>　　How can people resist the temptation of spring? They went out for spring outings and outings. Every Sunday last weekend, the children follow their parents and family to fly kites on the open grass beside the lake. Each beautiful kite is led by a long silk line and flies to the blue sky with the wind. At this time, if you look at the grass, you will find that many people are doing different things: some are lying on their backs, some are playing chess, some are listening to music with earphones, and some are taking photos with cameras in spring</p>
<p>　　“一年之计在于春”，春天可真是一个充满生机、充满希望、充满遐想的有趣的季节！春天与我们同在！</p>
<p>　　"The plan of a year is spring". Spring is really an interesting season full of vitality, hope and reverie! Spring is with us!</p>
<p>　　Winter was gone,spring comes.I love spring best,because it's very beautiful.In spring,the weather is aways sunny and rainy,it's not cold and not hot,it's warmer and warmer.</p>
<p>　　The flowers begin to open and the trees begin to turn green.The birds are singing in the sky,they are happy.</p>
<p>　　The animals will go out to play.Many people like to go out and enjoy the sunshine.</p>
<p>　　I like wearing my sweater and jeans, I like to fly kites,plant trees and see the beautiful flowers. Spring is colorful,I think it's a wonderful season.</p>
<p>　　What's your favourite season?Please tell me.</p>
<p>　　Spring is coming, spring is coming, willow trees are sprouting, and the grass is secretly coming out of the ground. People take off the thick winter clothes, put on a beautiful spring. The smell of spring is on every face.</p>
<p>　　The children come up with all kinds of kites to play, to see who flies high and see who flies far.</p>
<p>　　My mother and I went to the park to look for spring. Where is spring? Spring is on the branch, spring is on the lawn, and spring is on the children's faces.</p>
<p>　　Spring has come, in every corner of the earth were full of spring. Campus, full of the glad Lu like. Willow willow out of the thin, top decorated clean the yellowish leaves; grass aroma with a drilling mud out in bunches, A host, nice green flowers are also stretched, played a yawn, unearthed a small head; children all took off their heavy winter clothes, put on another bright light both spring; the birds flew out from the house, singing sweet songs, tell us: Spring is coming ! Spring is really here, in the pond, the fields, in the sky, glow with vitality everywhere. Nature's beauty has become rich together.</p>
<p>　　A clear day, warm in the sun on the body, soft spring breeze brush his face, both warm and comfortable: the rainy day, bursts of spring thunder exploding from time to time, both thrilling and exciting. Spring scenery is so beautiful, spring, the mood even more beautiful. Rickets an entire winter backs straight, and cheerful smile full of hope. Parks and lively up, photography of young people, old people fishing, catching insects, children, one by one intoxicated in the arms of nature, linger. Spring, people are more busy.</p>
<p>　　As the saying goes: at the spring. You see, in the city's streets, was busy shuttling back and forth to figure, rural land, the farmers are sown the seeds of hope. The walls of the classroom close to the new semester curriculum, books and new books, there are a lot of knowledge of many waiting for us to pick fruit. I love spring, I like to smell the fragrance of flowers, to see the new green trees and hear the singing of small Ukrainian. I love spring because it is full of vigor, full of new hope!</p>
<p>　　春天来了（Spring comes） 春天来了（Spring comes）</p>
<p>　　Spring comes,some people can do what they want to do.Look at the lake,the ducks swim in there.ther are laughing.I know they are very happy.Look at the trees,begin to turn green.Lot of pepole is working hard.And everywhere are so warm.Look at the sky,swallow is flying.They are Freedom.A year moment lies in spring,and Spring is very beautiful.So, I love Spring very much.How about you?</p>
<p>　　Bitterly cold winter may once come, but now it has gone.</p>
<p>　　As my bike has been stolen, I have to run from one teaching building to another every day.</p>
<p>　　The bell declares the end of the last lesson and the beginning of a new journey. Tired as I am, at the sight of the bench, I go straight to it. As soon as I get seated, a world of fresh green immediately catches my eyes. Grass sprouts burst through the soil right in the place of the withered grass and turn the dull grey into fresh green. As I look up, I find those tall trees have also put on new clothes. Green, here and there, everywhere!Spring has come, I realize suddenly.</p>
<p>　　A breeze stirs, sending over breaths of fragrance. I trace it,surprised to find several lovely small white flowers dotted on a tree. Andthere are even some singing birds! I am so delighted with all these tiny lives that my fatigue vanishes all of a sudden.</p>
<p>【春天来了英语作文】相关文章：</p>
<p>1.<a target="_blank" href="http://www.zuowen.net/yuwenzuowen/article_66210.html">春天来了作文</a></p>
<p>2.<a target="_blank" href="http://www.zuowen.net/sanbaizizuowen/article_21266.html">春天来了作文300字</a></p>
<p>3.<a target="_blank" href="http://www.zuowen.net/sanbaiwushizizuowen/article_20513.html">春天来了作文350字</a></p>
<p>4.<a target="_blank" href="http://www.zuowen.net/yibaizizuowen/article_24620.html">作文春天来了100字</a></p>
<p>5.<a target="_blank" href="http://www.zuowen.net/xiejingzuowen/article_89930.html">春天来了作文5篇</a></p>
<p>6.<a target="_blank" href="http://www.zuowen.net/chusanzuowen/article_209803.html">春天来了初三作文</a></p>
<p>7.<a target="_blank" href="http://www.zuowen.net/chuzhongzuowen/article_220391.html">春天来了初中作文</a></p>
<p>8.<a target="_blank" href="http://www.zuowen.net/sibaiwushizizuowen/article_23696.html">春天来了作文450字</a></p>
<p>9.<a target="_blank" href="http://www.zuowen.net/qibaizizuowen/article_22451.html">作文春天来了700字</a></p>
pic:
<img src="//www.zuowen.net/pic/allimg/copyright/img/b4baccec3_2.jpg" alt="春天来了英语作文" style="white-space: normal; width: 400px; height: 324px;">
