url:	http://www.zuowen.net/yingyuzuowen/article_220664.html
title:
<h1 class="title">动物的英语作文</h1>
time:
context:
<p>关于动物的英语作文</p>
<p>　　My favourite animal is tortoise. Tortoise walk not fast. But I like the tortoise. Why? Because, tortoise is a cute animal. It have a short tail and a four short foot. It have a little head and a hard shell. They are forty-five little and cute tortoise in My home. They like to play in the water. When they afraid some thing. They wall run fast. They like to eat the fish. I often buy some small fish to them to eat. They can catch the fish fast. First, they fake(假) sleep. When the fish swim near they mouth. They catch the fish fast and bit the fish head. So, the fish die. They can eat the fish. In winter. They like to sleep in the sand. When they sleep, they dont eat any food.Because they wall hibernation. But, when they are thirsty. They come out of the sand. So, we must give water to them to drink.</p>
<p>　　Dolphin is my favourite animal.</p>
<p>　　It is one of the most precious animals. Their bodies are very long, about one zhang（丈）. Dolphins live in the sea. They live on fish, shrimps and so on.</p>
<p>　　Dolphins are very friendly and peaceful. They never attack people. Instead, they have saved many people in danger in the past years. How helpful the dolphins are!</p>
<p>　　Dolphins are very clever. People often train them so that they can give a dolphin show which brings people a lot of happiness and joy.</p>
<p>　　Unluckily, the number of dolphins is getting smaller and smaller. Because of water pollution, there is less and less space for dolphins. Many people make money by hunting dolphins. If we dont protect them, maybe well lose our good friends one day. As a student, I hope more and more people should take actions to protect dolphins.</p>
<p>　　Dogs usually refers to the dogs, also known as dogs, a common canine mammals, is a close relative of the wolf. Often referred to as "human best friend" is also the highest rate of keeping pets. His life was about ten - more than three decades, in the absence of an accident, the average life span of small dogs to be longer.</p>
<p>　　I am happy to be here. Today, I am speaking here on behalf of our friends, who also live in this planet——the animals.</p>
<p>　　Maybe in the most people’s eyes, animals have no feeling, no thoughts, and no emotions. Therefore, they mistreat them, kill them and eat them. It is time to protect these animals.</p>
<p>　　Many animals in the world are in danger of dying out. This is because people are destroying their homes. When this happens, the animals cannot find enough food. For example, people use bamboo from bamboo forest for building. Pandas eat bamboo. Therefore they no longer have enough food to eat. Sea turtles , Asian elephants, tigers are in danger too. People hunt them for their body parts.</p>
<p>　　Can you feel the pain of a mother elephants whose babies were killed by a hunter? Can you feel the fear of those homeless wild animals? Of course your answer is no, because you are not them. But that does not mean the animals can not feel them. They have thoughts, emotions as well as human beings.</p>
<p>　　Do you enjoy seeing different kinds of animals? We need to protect them and their homes so that our children can still see them in the future.</p>
<p>　　So show respect for the animals. Treat your pets well. Do not buy tusk and eat less meat and seafood. Do not pollute the environment so they have home to live. They will thank you. 、Many people will thank you too.</p>
<p>　　Thank you!</p>
<p>　　I have a dog, it is lovely, it is called Mimi. Every time I go home from school, Mimi always cruising around me, I will go to the kitchen to get a piece of meat to it, it lay on the floor to eat. My legs and then jump to bark "Wang "called, so I picked up Mimi, it is the opportunity to lick my hand, making me laugh.</p>
<p>　　I like Mimi, like puppies.</p>
<p>　　我有一条小狗，它很可爱，它叫Mimi。每当我放学回家时，Mimi总是围着我绕圈，我便去厨房拿一片肉给它，它就趴在地板上吃。然后跳到我腿上汪汪汪地叫，于是我抱起Mimi，它就乘机舔我的手，逗得我哈哈大笑。</p>
<p>　　我喜欢Mimi，喜欢小狗。</p>
<p>　　Dolphin is my favourite animal.</p>
<p>　　It is one of the most precious animals. Their bodies are very long, about one zhang. Dolphins live in the sea. They live on fish, shrimps and so on.</p>
<p>　　Dolphins are very friendly and peaceful. They never attack people. Instead, they have saved many people in danger in the past years. How helpful the dolphins are!</p>
<p>　　Dolphins are very clever. People often train them so that they can give a dolphin show which brings people a lot of happiness and joy.</p>
<p>　　Unluckily, the number of dolphins is getting smaller and smaller. Because of water pollution, there is less and less space for dolphins. Many people make money by hunting dolphins. If we don’t protect them, maybe we’ll lose our good friends one day. As a student, I hope more and more people should take actions to protect dolphins.</p>
<p>　　One day, the fawn to another forest to take a walk. The fawn surprised to think: "hey, how do the trees here only the stumps, become bare?" Suddenly, the deer heard a cry, and it went down crying, the original small animals in the forest near the stump cry, cry very sad!</p>
<p>　　The deer walks to the small animals and ask: "why are you crying?" Little monkey and said: "the trees here grow CongCongLongLong, the branch is very tall and straight, we can free to play, play in the branches, now trees are being cut off, we didn't play place, let us how sport?" The words sound just fell, the small white rabbit said: "before we have the green grass, now has been cut off, haven't got the fresh mushrooms on the grass, we have no food, how life ah!" At this moment, the bird to fly, said: "before the branches is our home, but now the branches have no, we're homeless, told us how to live!"</p>
<p>　　Fawn looked up at the sky and prayed silently: "human! You don't hurt them, to help them quickly! Give them a happy peaceful home!"</p>
<p>　　I have a dog. It is my favourite animal. His name is Beibei. His name and my name are the same. I like Beibei very much. He is only one year old now. He is very small. He is black and white. And he has one sister. She is yellow and white. His mother is white. His father is black. It is very clever. And it is very lovely. So I like him. He has a very small nose, two eyes and two small ears. He has a small mouth, too. He has four legs and a small face. He loves meat very much. There is a bowl near his house. There is always some bones or pork in it. And it is always very clean. His house is very beautiful. The door is red. And there are two windows in the wall. The wall is white and pink. There is a lock in the door. The lock is yellow. It is very nice. Beibei loves his house very much. He usually sleeps and rests in helpful. I think so, too 。</p>
<p>　　Since we go to school, we receive the education that animals are our friends that we should protect them. Recently, a deputy from National People’s Congress called for punishment of the one who abandons pets. It seems that the public cares for harmonious society.</p>
<p>　　从我们上学起，就接受动物是我们的朋友这样的教育，我们有责任保护他们。最近，一位全国人大代表呼吁对遗弃宠物的人做出惩罚。看来，公众是关注社会是否和谐的。</p>
<p>　　Animals are part of nature, so is human being. In the long history, human conquers the nature and creates the great civilization. It seems that we are in the dominant situation of nature. While the fact is not. When we receive the punishment from nature, we start to realize our fault. For example, nature punishes us with all kinds of disasters, the earthquake, the tsunami and so on. We are just a small part in front of the great nature, so the only way out is to get along well with it.</p>
<p>　　动物是大自然的一部分，人类也是如此。在悠久的人类历史中，人类征服了自然，创造了伟大的文明，似乎我们在大自然中处于主导地位。而事实并非如此。当我们收到来自自然的惩罚时才开始意识到我们的错误。例如，自然用各种各样的灾难惩罚我们，地震、海啸等等。在伟大的大自然面前，我们只是一小部分，因此唯一的出路就是和自然和谐相处。</p>
<p>　　Human killed many animals for chasing profits, but now the price is obvious. The air we breath is no longer clean and have damaged our health greatly. In fact, the way we treat animals decide our future fate. If they disappear, then we won’t live long.</p>
<p>　　人类为了利润杀死了许多动物，现在的代价是显而易见的。我们呼吸的空气已不再干净，大大的损害了我们的健康。事实上，我们对待动物的方式决定了我们未来的命运，如果它们消失了，我们也活不久了。</p>
<p>　　It is time to protect the animal, for saving ourselves.</p>
<p>　　为了拯救我们自己，是时候保护动物了。</p>
<p>　　Protect animal 保护动物</p>
<p>　　In the past, there have been many endangered animals. Now they are extinct. Does it matter? Has our environment been affected by their absence? Has the quality of our own life been changed? The answer to these questions is “Yes.”</p>
<p>　　It does matter if we destroy an endangered species habitat to develop more farmland, housing or industrial parks.It will effect all the other creature.</p>
<p>　　For example, if certain trees are cut down, birds and bats will have no place to roost.They cannot roost, they cannot breed. If there are no bats or brids, there will be no animal to eat certain insects that plague our crops.</p>
<p>　　Jungle around the world are being cut down to make room for humans. We will never be able to see or study this fragile ecosystem.</p>
<p>　　Human beings should be responsible for their own acts of nature. The promulgation of laws to maintain ecological balance, to make more space and natural. Conservation biology, Protect environment, protection of natural.</p>
<p>　　在过去，有许多濒临灭绝的动物。现在他们绝种。这很重要吗？我们的`环境是受他们的缺席的影响？我们生活的质量发生了变化？这些问题的答案是“是的”更要紧的是如果我们破坏濒危物种的栖息地，以开发更多的农田，住房和工业园区。它会影响所有其他生物。</p>
<p>　　例如，如果某些树木被砍伐，鸟类和蝙蝠将无处栖息。他们不能称雄，他们无法繁殖。如果没有了蝙蝠或鸟类，就没有动物吃困扰我们的庄稼的某些昆虫。世界各地的森林被砍伐让路给人。我们将永远无法看到或学习这脆弱的生态系统人类应该为自己对自然的行为负责。颁布相关法律维护生态平衡，给自然让出更大的空间等。保护生物，保护环境，保护自然。</p>
<p>【关于动物的英语作文】相关文章：</p>
<p>1.<a target="_blank" href="http://www.zuowen.net/zhuangwuzuowen/article_3382.html">关于我喜欢的动物的英语作文</a></p>
<p>2.<a target="_blank" href="http://www.zuowen.net/zhuangwuzuowen/article_89.html">关于动物的作文</a></p>
<p>3.<a target="_blank" href="http://www.zuowen.net/zhuangwuzuowen/article_6391.html">关于善待动物的作文</a></p>
<p>4.<a target="_blank" href="http://www.zuowen.net/babaizizuowen/article_65107.html">关于动物的作文800字</a></p>
<p>5.<a target="_blank" href="http://www.zuowen.net/xiaoxueshengzuowen/article_215950.html">小学写关于动物的作文</a></p>
<p>6.<a target="_blank" href="http://www.zuowen.net/sibaizizuowen/article_44075.html">关于动物的作文400字</a></p>
<p>7.<a target="_blank" href="http://www.zuowen.net/wubaizizuowen/article_44876.html">关于动物的作文500字</a></p>
<p>8.<a target="_blank" href="http://www.zuowen.net/sanbaiwushizizuowen/article_21597.html">关于动物的作文350字</a></p>
<p>9.<a target="_blank" href="http://www.zuowen.net/sibaiwushizizuowen/article_22971.html">关于动物的作文450字</a></p>
pic:
