url:	http://www.zuowen.net/yingyuzuowen/article_220768.html
title:
<h1 class="title">小学生描写老师的英语作文</h1>
time:
context:
<p>小学生描写老师的英语作文</p>
<p>　　Miss Li is my Chinese teacher . She is about thirty years old . She is very pretty and young . Her hair is brown and curly .</p>
<p style="text-align: center;"><img src="//www.zuowen.net/pic/allimg/copyright/img/d0a1d1a7c9fa3_2.jpg" alt="小学生描写老师的英语作文" style="white-space: normal; width: 400px; height: 324px;"></p>
<p>　　李老师是我的语文老师。她大约三十岁。她非常漂亮和年轻。她的头发是棕色的卷发。</p>
<p>　　Miss Li always wears a blue coat . I think her favourite colour will be blue .</p>
<p>　　李小姐总是穿着一件蓝色的外套。我认为她最喜欢的颜色是蓝色的。</p>
<p>　　Miss Li is very friendly and kindly .Her classes are very interesting ,we all like to have Chinese class .</p>
<p>　　李小姐是非常友好和善良。她的课很有趣，我们都喜欢上语文课。</p>
<p>　　She always smiles when she speak to us .Sometimes she is very strict with us,when we make a mistake,she often makes us stand up .</p>
<p>　　她总是微笑的时候，她对我们说的。有时候她对我们非常严厉，当我们犯了错误时，她经常让我们站起来。</p>
<p>　　Miss Li often sticks to have lessons when she is ill , She looked weak,but still beautiful .</p>
<p>　　李小姐常常上课时，她病了，她看起来很虚弱，但依然美丽。</p>
<p>　　Miss Li love us very much, she teaches us so carefully .I think she is a good teacher. We all love her,too .</p>
<p>　　李老师很爱我们，她非常细心的教我们。我认为她是个好老师。我们都爱她，太。</p>
<p>　　I think teachers are like candles , giving off light for others by burning themselves 。</p>
<p>　　我想，老师就像蜡烛，照亮别人燃烧自己。</p>
<p>　　她，一位人民教师，一头乌黑发亮的头发，嘴角始终都微微向上翘着，给人感觉她一直都在微笑着，高高的鼻梁上驾着一副沉重的眼镜，让人觉得她知识渊博。</p>
<p>　　她的微笑，总能让那些犯了错误的同学改过自新。有一次，陈旺打伤了一个同学，她见了，忙把陈旺叫到她的办公室。她微笑着问陈旺：“你知道我为什么让你到办公室来吗？”“知道。”陈旺不以为然的说，“是他先说我坏话，我才打伤他的。”她见状，仍然微笑着对陈旺说：“不管是他先说你坏话，还是碰了你一下，你都不要还手。如果你是那个被打伤的同学，你现在有何感想？”她的这一番话，让陈旺不由得低下了头，小声地说：”对不起，老师，我错了，我下次不再这样了。”“没关系，改过自新了就行。”这时，她的.微笑更明显了。</p>
<p>　　还有一次，我们班“刮”起了“折纸风”，用过的废纸随处可见。下课了，我们纷纷拿出折纸，放在桌子上专心致志地折了起来。突然，几个在教室门口帮我们“望风”的几个人叫道：”不好了！老师来了！还没等我们缓过神来，她早已站在了教室门口。她看到我们满桌满地的废纸，眉头皱了皱，却仍然微笑着。只听她语重心长的说；“同学们，你们喜欢折纸是好事，但是用完了的废纸可以留着做草稿纸使用。要知道，浪费一张纸，就等于浪费了多少木材啊！”听到这里，我们都低下了头。</p>
<p>　　她的微笑，是那么温柔，如冬日里的阳光一般温暖，似夏日里的凉风一般凉爽。这个一直有着微笑的她，就是我曾经的英语老师——王英老师。</p>
<p>【小学生描写老师的英语作文】相关文章：</p>
<p>1.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_202631.html">关于老师的英语作文</a></p>
<p>2.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_197092.html">英语老师作文</a></p>
<p>3.<a target="_blank" href="http://www.zuowen.net/yuwenzuowen/article_215925.html">描写老师的作文：我的语文老师</a></p>
<p>4.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_204890.html">我的老师英语作文</a></p>
<p>5.<a target="_blank" href="http://www.zuowen.net/sibaizizuowen/article_70994.html">描写老师的作文400字</a></p>
<p>6.<a target="_blank" href="http://www.zuowen.net/sanbaizizuowen/article_50206.html">描写老师的作文300字</a></p>
<p>7.<a target="_blank" href="http://www.zuowen.net/xierenzuowen/article_154132.html">描写老师的作文示例</a></p>
<p>8.<a target="_blank" href="http://www.zuowen.net/erbaiwushizizuowen/article_18380.html">描写老师的作文250字</a></p>
<p>9.<a target="_blank" href="http://www.zuowen.net/yibaizizuowen/article_20449.html">描写老师的作文100字</a></p>
pic:
<img src="//www.zuowen.net/pic/allimg/copyright/img/d0a1d1a7c9fa3_2.jpg" alt="小学生描写老师的英语作文" style="white-space: normal; width: 400px; height: 324px;">
