url:	http://www.zuowen.net/yingyuzuowen/article_220801.html
title:
<h1 class="title">寻物启事英语作文</h1>
time:
context:
<p>寻物启事英语作文</p>
<p>　　在日常学习、工作和生活中，大家都写过作文吧，根据写作命题的特点，作文可以分为命题作文和非命题作文。那么一般作文是怎么写的'呢？以下是小编为大家整理的寻物启事英语作文，欢迎阅读与收藏。</p>
<p style="text-align: center;"><img src="//www.zuowen.net/pic/allimg/copyright/img/c6f4cac25_2.jpg" alt="寻物启事英语作文" style="white-space: normal; width: 400px; height: 324px;"></p>
<p>　　I lost my wallet on my way to school this morning。 There is some money， a monthly ticket and something else in it。 I wish the finder would return it to me soon。 Will the finder please come toNo。 11 Middle School or call me? I'll pay him or her for it。 Thank you!</p>
<p>　　Name: Wang Li</p>
<p>　　Telephone: xx</p>
<p>　　今天早晨在上学的路上，丢失钱包一个。里面有一些钱，一张月票和其它物品。希望拾到钱包者能尽早归还。请您到十一中学来或打电话给我好吗?我将对此给予酬谢。多谢!</p>
<p>　　姓名：xx</p>
<p>　　电话：xxx</p>
<p>　　<strong>Found</strong></p>
<p>　　I left a green school bag in the reading-room on the evening of May 14. There are two English books, a pencil-box, an MP3 player and the key to the bike in it. Now I'm very worried about it. Will the finder return it to Li Xia of Class 1, Grade 3? Thanks a lot!</p>
<p>　　<strong>寻物启事</strong></p>
<p>　　在五月十四日的晚上，我丢失了一个绿色的书包在阅览室。内有两本英语书，一个铅笔盒，一个MP3播放器，自行车的钥匙。现在我很担心。拾到者请还给李霞的三年级一班，非常感谢!</p>
<p>　　<strong>A Jacket Lost</strong></p>
<p>　　In the playground, May12, a Jacket, green in colour and with a zipper in the collar lost, finder please return it to the owner, Krutch. Room 203, Dormitory 9.</p>
<p>　　<strong>寻茄克衫</strong></p>
<p>　　5月12日本人不慎在操场丢失一件绿色，领口有拉链的茄克衫。拾到者请把茄克衫还给失主xx。地点九号宿舍楼203房间。</p>
<p>【寻物启事英语作文】相关文章：</p>
<p>1.<a target="_blank" href="http://www.zuowen.net/wubaizizuowen/article_4191.html">《短片》给我的启事</a></p>
<p>2.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_242.html">英语作文</a></p>
<p>3.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_201713.html">语言的力量英语作文</a></p>
<p>4.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_202389.html">写中秋的英语作文</a></p>
<p>5.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_197179.html">My Family英语作文</a></p>
<p>6.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_204194.html">我的生日英语作文</a></p>
<p>7.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_204851.html">我的学校英语作文</a></p>
<p>8.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_205256.html">难忘的事英语作文</a></p>
pic:
<img src="//www.zuowen.net/pic/allimg/copyright/img/c6f4cac25_2.jpg" alt="寻物启事英语作文" style="white-space: normal; width: 400px; height: 324px;">
