url:	http://www.zuowen.net/yingyuzuowen/article_221023.html
title:
<h1 class="title">我的暑假生活英语作文</h1>
time:
context:
<p>我的暑假生活英语作文</p>
<p>　　暑假期间我经常去看望我的爷爷奶奶，他们都已经70岁了，住在乡下。夏天的乡下非常漂亮，我可以在那里做很多有趣的事情。我习惯一大清早起床，呼吸新鲜空气，聆听鸟儿欢唱，欣赏绿树红花和门前的小河。我还喜欢跟伙伴们一起钓鱼。夜幕降临时，我就坐在树下，听奶奶讲动听的故事。我也会给她讲一些城里的新鲜事。每次该回城时，我总是恋恋不舍。我确实喜欢乡下的生活。</p>
<p style="text-align: center;"><img src="//www.zuowen.net/pic/allimg/copyright/lanmu/lm1690.jpg" alt="我的暑假生活英语作文" style="white-space: normal; width: 400px; height: 324px;"></p>
<p>　　I often go to see my grandma and grandpa during my summer vacation.They are both seventy years old and live in the country happily. Summer view of the countryside is very beautiful. I can do many interesting things there. I am used to getting up early in the morning, breathing the fresh air,listening to the birds singing, and enjoying the green trees, red flowers and the river. I like fishing with my friends. When night comes, I sit under the tree with my grandma, listening to her telling me many funny stories. And I tell her some new things happening in the city. When I have to go back,I am always reluctant to go. I really feel happy living in the country.</p>
<p>　　为了有一个丰富多彩的暑假，我安排好了自己的学习计划，我严格按照自己的计划学习。我给自己放了一个小假，外出旅行了3天，我学到了许多书上学不到的东西。我也看了许多名著，增长了我的知识。我拜访了许多朋友，我经常和他们去书店看书，这不仅增加了知识，也促进了友谊。这真是一个有意义的暑假。</p>
<p>　　In order to have a rich and colorful summer vacation, I planned her plan, I strictly according to the plans of their own learning. I give myself a small vacation, travel for three days, I learned a lot of things can not go to school books. I can see many masterpieces, growth my knowledge. I visited many friends, I often and they went to the bookstore and read a book, which not only increase the knowledge, but also promoted the friendship. It is really a meaningful summer vacation.</p>
<p>　　打开记忆的窗口，一幕幕在暑假度过的开心趣事浮现在眼前：那是一个星期天，外婆说小姨那面馆的人手不够，叫我也去帮忙，工资一天10元钱，我图好玩，于是便答应了。</p>
<p>　　我们早上五点多钟就起床，想面馆冲刺。一到面馆，我们大家就开始干起活来。我负责端碗，于是我拿起碗就往里面的那位客人走去，第一碗成功了，接着第二碗，第三碗，第四碗……“啊！”手都给我烫麻了，“里面还有几碗。”啊，还有？这不是火上浇油吗？唉，为了那10元钱我豁出去了，于是我接着干。先是端碗，到了酒店多钟时，洗碗的“圣旨”来了，于是我又把那十几个碗给洗了，碗可是终于洗完了。可是我还没有喘上半口气，“圣旨”又到了，那“皇上”可真是对我这个“忠臣”不薄呀！我又去切葱，“哎哟”，把手给切到了，还好没有什么大碍。</p>
<p>　　唉，事情终于做完了，那“皇上“还赏了我“10万两黄金“呢！我可总是没有白做一天。</p>
<p>　　通过这快乐而又辛苦的一天，我懂得了一个道理：只有辛苦的劳动才能得到自己该得的东西。</p>
<p>　　Open the memory window, curtain is spent in summer vacation happy fun emerge in sight: it was a Sunday, my grandmother said aunt short-handed at the noodle shop, call me to help, also pay 10 yuan a day, I figure of fun, so he agreed.</p>
<p>　　We got up at five o 'clock in the morning and tried to sprint. At the noodle shop, we all began to work. I was in charge of the bowl, so I took the bowl and went to the guest in it. The first bowl was successful, then the second, the third, the fourth... "Ah!" My hands are hot. "there are a few bowls inside." Ah, what else? Isn't that adding to the fire? Well, for the sake of that $10, I got the money, so I went on. At the end of the bowl, when we arrived at the hotel, I washed the dishes, so I washed the dishes, but at last the dishes were washed. But I haven't caught a breath of breath, "the decree" is again, that "emperor" can really be to me this "loyal minister" not thin ah! I cut the green onion again, "ouch", the hand to cut to, fortunately have no big harm.</p>
<p>　　Well, the thing was done at last, and the emperor rewarded me with "100,000 gold"! I always have no white day.</p>
<p>　　Through this happy and laborious day, I learned the truth that only hard work can get what you deserve.</p>
<p>　　My summer vacation</p>
<p>　　This year's summer vacation, I so happy.</p>
<p>　　The summer vacation, I at home carefree get boring, until one day, my dance teacher told me that we are still in perfect order, dance dance of the class is rhythm feeling worse, if good rhythm, can go to the match in a couple of months.</p>
<p>　　Once I listen to, the game soon, then looking for right away. Ah! Where there is a plate to exercise good rhythm?</p>
<p>　　"Ah," I sighed. Suddenly remind of a computer. Yi? The computer can play MP3, isn't it? Ha ha! Some I le. I immediately opened up the computer, listening to music. I have heard for three weeks, finally recognized the lasting appeal. Turned out to be "dong man dong man" "dong man dong man" every first "dong" is "a" first "man" is "2" the second "dong" is "three" the second "man" is the "four". Rhythm is "1234, 1234" repeatedly, but want to use English.</p>
<p>　　I believe that as long as we work hard and have good grades.</p>
<p>　　Happy summer vacation, happy summer vacation, summer vacation without anxiety.</p>
<p>　　我的暑假</p>
<p>　　今年的暑假，我过的特别开心。</p>
<p>　　暑假，我在家闲得无聊，直到有一天，我的舞蹈老师告诉我，我们这个班舞蹈跳的还是井井有条，就是节奏感差些，要是节奏感好，过几个月就可以去比赛了。</p>
<p>　　我一听，马上就要比赛了，便马上到处找起来。啊!哪里有碟子让了锻炼好节奏感啊?</p>
<p>　　"哎"我叹了口气.突然想起电脑.咦?电脑不是可以播放MP3吗?呵呵!有的我乐了。我立即把电脑开起来，听曲子。我听了整整三个礼拜，终于听出了里面的韵味。原来是"咚哒哒咚哒哒""咚哒哒咚哒哒"每第一个"咚"就是"一"第一个"哒哒"就是"二"第二个"咚"就是"三"第二个"哒哒"就是"四"。节奏就是"一二三四，一二三四"重复不停的念，不过要用英文。</p>
<p>　　我相信，只要我们努力比拼，就一定会有好成绩的。</p>
<p>　　开心的暑假，快乐的暑假，没有忧虑的暑假。</p>
<p>　　This afternoon, my father took me to the Olympic swimming, I was very happy, because for the first time I go to, have been very much looking forward to, every time my dad said, but did not go into, finally can go this time. But then I thought: "our two people will be bored, so I invited my brother and uncle to play."</p>
<p>　　I went swimming with my brother in the swimming pool. Has begun！ First I was in the front, then I was a little tired, my brother was speeding up the "overtaking", and finally I couldnt get over it, I lost！</p>
<p>　　Then, my brother and I against uncle and father, I took my gun "embedded" underwater, brother to guide dad and uncle to come over, I suddenly emerged from the water, with water gun against them. We have a method, is "a diversion" we are currently using to a place where water spray nozzle, uncle and father went away in the past, we attack from behind them. The attack succeeded.</p>
<p>　　In the end, we won 2-1！ We are so happy！ Ill be back next time. I had a great time this summer vacation.</p>
<p>　　暑假生活英语作文带翻译：</p>
<p>　　今天下午，爸爸带我去奥体游泳，我高兴极了，因为我第一次去，一直很期待，每次爸爸都说去，可是都没有去成，这次终于可以去了。可是我又一想：我们两个人玩会无聊的，所以我就邀请了哥哥和叔叔一起来玩。</p>
<p>　　进了游泳池我和哥哥比赛游泳。开始了！首先我在前面，后来我有点累了，哥哥马上加速“超车了”，最后我一直反超不了，我输了！</p>
<p>　　然后，我和哥哥对战叔叔和爸爸，我拿着水枪“埋入”水底，哥哥把叔叔和爸爸引过来，我突然从水里冒出来，用水枪攻击他们。我们又有了一个方法，就是“声东击西”我们现用水枪向一个地方喷水，叔叔和爸爸就走了过去，我们从他们的背后攻击。攻击成功了。</p>
<p>　　最后，我们2比1的分数赢了！我们十分的开心！下次我还要来。今年的暑假我过得十分欢乐。</p>
<p>　　Look forward, look forward to, finally come to the second summer vacation in primary school. The life of the summer vacation is really colorful! In the first few days, as Mom and Dad were at work, they sent me to the grandmother's home in the country. There were no restrictions on homework every day, without the mother's accusation and supervision. I've been crazy for days. I can control my time in the daytime: playing cards, playing football, playing basketball, playing chess... Look at the TV in the evening, or take a walk with grandma outside, and come back to sleep without worry and sleep until daybreak.</p>
<p>　　At the beginning of July 4th, mother school was formally set up for the summer vacation. I left my grandmother and returned to his home. Under the supervision of my mother, I launched a race with my summer homework. I read two English reading books in the morning, do some math problems, do some Chinese in the afternoon, sometimes I listen to English tapes. With the help of my mother, I spent more than ten days and finally finished my summer homework.</p>
<p>　　In the next days, I was very relaxed. My mother didn't give me extra homework. In addition to Sax who blew for thirty minutes a day, the rest were at my disposal, and she didn't force me to do my homework. I read some books during the summer vacation. The stories in the book are interesting and fun. I'd like my mother to buy me some books like this.</p>
<p>　　The end of the summer, and you can see my dear classmates and teachers, I was beside himself with joy, I hope one day to see them.</p>
<p>　　盼呀，盼呀，终于盼来了小学阶段的第二个暑假。暑假的生活真是丰富多彩！刚开始几天，因为爸爸妈妈都在上班，他们就将我送到了乡下的奶奶家。每天没有了作业的约束，没有了妈妈的指责和监督。我可是彻彻底底疯玩了好几天，白天我可以自由支配时间：打牌、踢足球、打篮球、走五子棋……晚上看看电视，或者跟奶奶到外面散散步，回来后就无忧无虑地呼呼大睡，一觉睡到大天亮。</p>
<p>　　7月4日开始，妈妈学校正式放暑假了，我离开奶奶，回到了自己家。在妈妈的监督下，我和暑假作业展开了“赛跑”，早上读两篇英语阅读，做一些数学题，下午做语文，有时听听英语磁带。在妈妈的帮助下，我花了十几天时间，终于完成了暑假作业。</p>
<p>　　接下来的日子，我过得非常轻松，妈妈没给我额外的作业，除了每天吹三十分钟的萨克斯，其余的都由我自由支配，她也不逼我做作业。暑假时我看了一些书，书中的故事很有趣，很好玩。我很希望妈妈多给我买点这样的书。</p>
<p>　　暑假快结束了，又可以看见亲爱的.同学和老师，我按捺不住内心的喜悦，真希望早一天见到他们。</p>
<p>　　One day during the summer vacation, we were very bored, so the younger brother suggested, "let's go mountain climbing!" "Good! That's great! Dad agreed, so we decided to go climbing the mountain tomorrow.</p>
<p>　　The next day, we got on the bus and took the food and set out. We were talking and laughing in the car, and we were almost there, and the younger brother said, "sister, can you climb up?" "Of course I can climb up! I laughed at my brother and said, "I don't think you can climb up and test me!" My brother was flushed with anger and said, "well, I can climb up! See who's laughing last!"</p>
<p>　　Destination arrived, brother stood in the piedmont, legs are shaking, I saw it, laugh at him: "haven't climb! Your legs trembling, certainly couldn't climb up!" I made a face at my brother. This is the father's proposal: "let's have a race! See who gets up first! I'm going to go first!" "Then he began to crawl. I see, ah, not good, hurry up! At the time of the first layer, I met two big sister, they are talking and laughing, I said to them: "big sister, mountain climbing is a consumption of physical strength as he spoke." "It's all right." I tried to climb ah climb, finally climbed to the third floor, fourth floor, fifth floor, at this time, I met in the first layer of the two big sister, at this time, they are too tired to asthma panting, they saw me, he said to me: "girl, we should have to listen to you. Is really too tired!"</p>
<p>　　Sixth floor, I already tired panting, really afraid of don't go up, dad said to me: "' the persistence is victory. ' 'nothing is too difficult, as long as willing to climb."' hear the word of the father, I was full of energy, ran up to the top of the hill.</p>
<p>　　A: wow! What a beautiful mountain top! We took a few pictures on the top of the hill and went home.</p>
<p>　　I'm happy to have such a good summer holiday，because I will have much time to visit some places of intrest.</p>
<p>　　I'm going to Beijing tomorrowso now I feel very happy.I will go there by plane and stay there for 10 days.</p>
<p>　　This is my first time to go to Beijingnot only the Olym//www.zuowen.net/picingbut also I can learn more knowledges about the Olympic Games.</p>
<p>　　And it is a great chance for me to communicate with foreignersso I won't miss it.Thereforenow I want to say:BeijingI'm coming!</p>
<p><strong>　　翻译：</strong></p>
<p>　　我很高兴有这样一个暑假，因为我将有很多时间参观一些有趣的地方。</p>
<p>　　我明天去北京现在我感到非常高兴。我将乘飞机去那里在那里呆十天。这是我第一次去北京不仅奥运会即将来临而且我也可以学习更多关于奥运会的知识。</p>
<p>　　这是一个很好的机会让我与外国人交流所以我不会错过它。因此现在我想说:北京我来了!</p>
<p>　　At college, I missed my parents a lot. As the term was drawing to an end, I eagerly looked forward to going home. And I planned to do a thousand and one things during the vacation. Above all, I wanted to help my mother with housework. I also wished to read many hooks which my teachers had recommended.cooyu.net</p>
<p>　　However, at home, my mother would never let me do anything. She completely deprived me of sharing her work. As soon as I opened a book to read,she would sit down beside me and ask me about all kinds of things at the college. To please her,I told her one thing after another,and soon I forgot all about books. Even when I was actually reading,she would, now and then,insist that I should eat an egg or drink a cup of tea.cooyu.net</p>
<p>　　When I left home at the end of the vacation, not a thing in my plan had been carried out. But I felt very happy. I believed much more deeply than before in the old saying: Home, sweet home. There‘s no place like home!</p>
<p>　　Summer life provides a broad stage for us to show ourselves. In order to make this summer vacation full and meaningful, the following life and study plan is set up.</p>
<p>　　First, scientific and reasonable, make plans</p>
<p>　　Play half a day and study half a day. Pay attention to safety when playing. The summer homework assigned by the teacher should be carefully finished.</p>
<p>　　Two, careful review, leak filled</p>
<p>　　During the summer vacation, we should make a "review plan". Want to learn all the content and then carefully review again, do leak filled, for the next semester to lay a good foundation for studying the new curriculum.</p>
<p>　　Three. Cultivate interest and develop specialty</p>
<p>　　According to their own interests, various interest groups, and actively participate in the school organization such as painting, calligraphy, music, English, information technology, have proficiency in a particular line to lay the foundation for future and development.</p>
<p>　　Four, study diligently, pay attention to the accumulation</p>
<p>　　During the summer vacation time to read some books, at least one of the valuable books, good reading notes, write a book. Such as: World names, historical allusions, excellent books (newspapers), fables, fairy tales, etc., can also contribute to the manuscript, constantly improve their reading ability and writing level, and cultivate their sentiment.</p>
<p>　　In addition, the summer vacation can also be active in physical exercise to help parents to do more housework, see social practice experience life... Only by grasping the opportunity, constantly showing oneself and expanding the field of vision, we will grow up healthily.</p>
<p>　　暑假生活为我们提供了广阔的展示自我的舞台。为了使今年这个暑假过得既充实又有意义，特制定以下生活及学习计划：</p>
<p>　　一、科学合理，制定计划</p>
<p>　　每天半天玩耍，半天学习。玩耍时要十分注意安全。要把老师布置的暑假作业认真完成。</p>
<p>　　二、认真复习，查漏补缺</p>
<p>　　暑假中，要制定一个“复习计划表”。要把所有的学习内容再认真复习一遍，做到查漏补缺，为下学期学习新课程打下良好的基础。</p>
<p>　　三、培养兴趣，发展特长</p>
<p>　　根据自己的兴趣爱好，积极参加学校组织的各种兴趣小组，如：绘画、书法、音乐、英语、信息技术，掌握一技之长，为将来的发展打下基础。</p>
<p>　　四、勤奋读书，注意积累</p>
<p>　　利用暑假充足的时间多阅读一些好书，至少看一本有意义的书籍，做好读书笔记，写出读后感。如：世界名着、历史典故、优秀书（报）刊、寓言、童话故事等等，还可以向投稿，不断提高自己的阅读能力和写作水平，陶冶情操。</p>
<p>　　此外，暑假中还可以积极进行体育锻炼，帮助家长多干些家务，参见社会实践活动体验生活……只有抓住机会，不断展示自我，拓展视野，才会健康成长。</p>
<p>　　The fun summer vacation was over, and there was a lot of fun during the summer vacation, but the most interesting thing was that I went to the nanhai tower with my parents to watch the sunrise.</p>
<p>　　That day early in the morning, when I was out of breath to my father and mother board, the sea floor, a cool breeze came at our head on, mountains and rivers, the distance and objects like it just wake up gradually become clear.</p>
<p>　　The sky of the east is uncertain. Some like a flying eagle; Some of them are like a good horse; Some are like a bloom of azaleas, some like a red scarf in the wind. In a moment the red scarf was gone, but it was a goat who was eating grass... What a riot of colors!</p>
<p>　　The sun was coming out, and there was a fire in the east. Suddenly, a bright red dot appeared from the east. In a moment, the sun jumped out of the horizon, like a huge ball of fire rolling on a big plate. After a while, the whole red sun was rising in the blue sky. It is so bright, so round, so pleasing! You see, the birds fly out of their nest and sing songs in the morning rush. You listen to, branches and leaves was naughty breeze whisper, as if in waved to the sun, nodded and said: "the sun how are you, the sun," good morning!</p>
<p>　　When the sun comes out, it shines and drives away darkness, bringing us light, warmth and joy. It's an interesting thing to watch the sunrise. I looked at the rising sun and I couldn't help singing, "I have a beautiful wish that I will grow up to sow the sun..."</p>
<p>【我的暑假生活英语作文】相关文章：</p>
<p>1.<a target="_blank" href="http://www.zuowen.net/chuzhongzuowen/article_5831.html">我的暑假生活初中作文</a></p>
<p>2.<a target="_blank" href="http://www.zuowen.net/gaozhongzuowen/article_5308.html">我的暑假生活高中作文</a></p>
<p>3.<a target="_blank" href="http://www.zuowen.net/yuwenzuowen/article_77377.html">我的暑假生活作文</a></p>
<p>4.<a target="_blank" href="http://www.zuowen.net/huatizuowen/article_353.html">我的暑假生活作文</a></p>
<p>5.<a target="_blank" href="http://www.zuowen.net/xushizuowen/article_109081.html">最新我的暑假生活作文</a></p>
<p>6.<a target="_blank" href="http://www.zuowen.net/yingyuzuowen/article_202174.html">暑假生活英语作文</a></p>
<p>7.<a target="_blank" href="http://www.zuowen.net/chuzhongzuowen/article_3773.html">我的暑假生活</a></p>
<p>8.<a target="_blank" href="http://www.zuowen.net/babaizizuowen/article_4322.html">我的暑假生活</a></p>
<p>9.<a target="_blank" href="http://www.zuowen.net/xushizuowen/article_93224.html">我的暑假生活</a></p>
pic:
<img src="//www.zuowen.net/pic/allimg/copyright/lanmu/lm1690.jpg" alt="我的暑假生活英语作文" style="white-space: normal; width: 400px; height: 324px;">
